<div class="left_block">
  <div class="item_title">
    byriani
  </div>
  <div class="item_description">
    Item with versions
  </div>
  <div class="versions_selectors_container">
    <select name="select-version" class="select-version">
      <option value="8oz">8oz</option>
      <option value="16oz">16oz</option>
      <option value="32oz">32oz</option>
    </select>
    <select name="select-version" class="select-version">
      <option value="8oz">8oz</option>
      <option value="16oz">16oz</option>
      <option value="32oz">32oz</option>
    </select>
    <select name="select-version" class="select-version">
      <option value="8oz">8oz</option>
      <option value="16oz">16oz</option>
      <option value="32oz">32oz</option>
    </select>
  </div>
</div>
<div class="right_block">
  <button class="add_to_cart_btn">add to cart</button>
</div>
<div class="item_added_versions">
  <div class="version_description">8oz</div>
  <div class="quantity_container">
    <div class="block minus">-</div>
    <div class="block number">1</div>
    <div class="block plus">+</div>
  </div>
  <div class="version_price">$2.5</div>
</div>