<div id="customization-region">
	
</div>
<div class="confirmation-block">
	<button name="cancel" class="cancel" type="button">CANCEL</button>
	<div class="wrapper">
		<div class="error-message">Please, choose 2 items at least</div>
		<button name="confirm" class="confirm" type="button">CONFIRM</button>
	</div>
</div>