<div id="customization-region"></div>
<div class="confirmation-block">
	<div class="wrapper">
		<button name="add_to_cart_btn" class="add_to_cart_btn" type="button">add to cart</button>
	</div>
</div>