.cmtyx_desktop_application {
  .home_tabs_list {
  /***** PHOTO contest *****/
    /*.photo_contest_block {*/

  .photo_contest_block .body .prize_block {
      width: 100%;
      min-height: 112px;
  }
  .photo_contest_block .body .prize_container {
    background-color: #fff;
    max-height: 180px;
}

.photo_contest_block .header .prize_cup_icon {
    float: right;
    position: relative;
    right: 10px;
    bottom: 2px;
}
.photo_contest_block .body .prize_block {
    width: 100%;
    min-height: 112px;
}
.photo_contest_block .body .prize_container {
    background-color: #fff;
    max-height: 180px;
}
.photo_contest_block .body .prize_block .prize_text_block {
    text-align: left;
    padding: 10px;
}
#cmtyx_photo_contest_block.photo_contest_block .contest_container {
    padding: 20px 20px 0 20px;
}
#cmtyx_photo_contest_block.photo_contest_block .body {
    padding: 0;
}
.photo_contest_block .photo_block_title {
    text-align: center;
    color: #ddd;
    font: 400 16px/24px 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.photo_contest_block .photo_block_title span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.photo_contest_block .contest_prizes {
    display: none;
    padding: 15px 20px 0 20px;
    border-bottom: solid 1px #636363;
}
.photo_contest_block .contest_prizes.shown {
    display: block;
}
.photo_contest_block .contest_prizes.shown .prize_block {
    display: block;
}

.photo_contest_block .header {
    padding-left: 40px !important;
}
.photo_contest_block img {
    padding: 0;
    width: 100%;
}

.photo_contest_block .body li {
    /* margin-bottom: 20px; */
}


.photo_contest_block .body li.last {
    margin-bottom: 0;
}
.photo_contest_block .poll_image {
    margin-bottom: 15px;
}
.photo_contest_block .contest_task,
.poll_block .poll_displaytext {
    display: block;
    font: 400 16px / 18px 'Open Sans', sans-serif;
    color: #ececec;
    margin: 10px 0 20px 0;
}
.photo_contest_block .send_photo_btn {
    font: 400 16px 'Open Sans', sans-serif;
    background-color: transparent;
    text-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.photo_contest_block .send_photo_btn:focus {
    box-shadow: none;
}
.photo_contest_block .photo_contest_upload_image {
    max-height: 568px;
    margin-bottom: 20px;
    display: none;

    textarea {
      height: 60px;
      font: 300 16px 'Open Sans', sans-serif;
      color: #bbbbbb;
      width: 100%;
      background-color: transparent;
      resize: none;
      padding: 4px 1.6px;
      border: 0.1rem solid #757373;
    }
}
.photo_contest_block .photo_contest_upload_image img {
    max-height: none;
}
.photo_contest_block .photo_contest_upload_image .dropzone {
    border-radius: 4px;
    min-height: 100px!important;
    border-color: #757373;
    background-color: transparent;
}
.photo_contest_block .photo_contest_upload_image .dropzone:before {
    font-size: 60px;
    top: 7px;
}
.photo_contest_block .photo_contest_upload_image .dropzone:after {
    bottom: 10%;
    font-size: 20px;
    padding: 5%;
}
.photo_contest_block .photo_contest_upload_image .dropzone.added {
    height: 495px!important;
}
.photo_contest_block .photo_contest_upload_image .dropzone.loading:after {
    visibility: hidden;
}
.photo_contest_block .photo_contest_upload_image .dropzone .btn {
    background-color: #464646;
    border-color: #464646;
}
.photo_contest_block .prizes_container {
    display: none;
}

.photo_contest_block .prizes_title {
    color: #ececec;
    font: 400 14px/21px 'Open Sans', sans-serif;
    border-bottom: solid 1px #636363;
    border-top: solid 1px #636363;
    padding: 7px 20px;
}
.prizes_title .ui-block-a {
    width: 20%;
}
.prizes_title .ui-block-b {
    width: 80%;
}


      .body {
        & > img {
          width: 100%;
          margin-bottom: 10px;
        }

        .prizes_title {
          text-align: center;
          font-weight: $style-normal;
          font-size: $size-normal-small;
          color: $question-text;
          text-transform: uppercase;
          margin-bottom: 15px;
        }

        ul {
          list-style-type: none;
          padding: 0;

          .discount_block {
            width: 100%;
            min-height: 112px;
            margin-bottom: 10px;

            .discount_container { 
              background-color: $white; 
              
              .discount_text_block {
                text-align: left;
                padding: 25px 0 25px 25px;
                display: inline-block;
                width: 50%;

                .discount_text {
                  display: block;
                  font-weight: $style-normal-strong;
                  font-size: $size-normal;
                  color: $cmtyx_color_4;
                  text-transform: uppercase;
                  margin-bottom: 10px;
                }

                .discount_condition {
                  display: block;
                  font-weight: $style-normal-strong;
                  font-size: $size-normal;
                  color: $discount-text;
                  margin-bottom: 8px;
                }

                .discount_date {
                  display: block;
                  font-weight: $style-normal-strong;
                  font-size: $size-small;
                  color: $cart-text;
                }
              }

              .prize-picture-container {
                display: inline-flex;
                align-items: center;
                width: 48%;
                vertical-align: top;
                height: 113px;
                float: right;
                background-size: 90% 90%;
                background-position: center;
                background-repeat: no-repeat;

                img {
                  height: 80%;
                }
              }
            }
          }
        }
      }
    /*}*/
    /***** END OF PHOTO contest *****/
  }
}