node_modules/*
app/build/*
app/app_chalkboards/build/*
app/app_sitelette/build/*
app/app_pree/build/*
dist/*
dist.zip
.project
npm-debug.log
app/app_sitelette/themes/1/desktop/styles/*
app/app_sitelette/themes/2/desktop/styles/*
app/app_sitelette/themes/3/desktop/styles/*
app/app_sitelette/themes/4/desktop/styles/*