<div class="modal-header">
	<div class="back-arrow">
		<span class="glyphicon glyphicon-arrow-left"></span>
	</div>
	<div class="other-user">
		<span class="otherUser"><%= otherUserName %></span>
		<div class="user-presence">
			<div class="offline">
				<div class="presence-offline"></div>
				<i class="presence-message">offline</i>
			</div>
			<div class="online">
				<div class="presence-online"></div>
				<i class="presence-message">online</i>
			</div>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="messages-region" name="chat-messages">
		<!-- chat messages view will be rendered here -->
	</div>
	<div class="user-typing">
		<div class="typing-icon">
			_<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>
		<div class="typing-message">
			<%= otherUserName %> is typing<i class="ellipsis">...</i>
		</div>
	</div>
	<div class="type-message">
		<input type="text" class="message-input" name="" placeholder="Type a message here..." required="required">
		<button type="button" name="send" class="fa fa-arrow-circle-right" disabled></button>
	</div>
</div>