<section class="chat-content">
	<div id="chat-modal" class="chat-block">
		<!-- chat modal views will be rendered here -->
	</div>
	<div class="chat-loader">
		<div class="loader-svg">
			
		</div>
	</div>
	</div>
</section>