<section class="chat-content">
	<div id="chat-users" class="chat-users-block">
		<!-- chat users views will be rendered here -->
	</div>
	<div id="chat-modal" class="chat-block">
		<!-- chat modal views will be rendered here -->
		<span class="fa fa-weixin logo" aria-hidden="true"></span>
	</div>
	<div class="chat-loader">
		<div class="loader-svg">
			
		</div>
	</div>
	</div>
</section>