<div class="modal-header">
	<div class="add-contact" name="add-contact">
		<i class="fa fa-user-plus" aria-hidden="true"></i>
		<span class="add-friend">Add Contact...</span>
	</div>
</div>
<div class="modal-body" name="chat-users">
	<!-- chat users view will be rendered here -->
</div>