<div class="modal-header">
	<span class="otherUser"><%= otherUserName %></span>
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
	<div class="messages-region" name="chat-messages">
		<!-- chat messages view will be rendered here -->
	</div>
	<div class="user-typing">
		<div class="typing-icon">
			_<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>
		<div class="typing-message">
			<%= otherUserName %> is typing<i class="ellipsis">...</i>
		</div>
	</div>
	<div class="type-message">
		<div class="message" name="message">
			<textarea type="text" class="message-input" name="" required="required"></textarea>
			<span class="placeholder">Type a message here...</span>
			<span class="message-text"></span>
		</div>
		<button type="button" name="send" class="btn btn-primary">↑</button>
	</div>
</div>