<div class="contact-block back-arrow">
	<span class="glyphicon glyphicon-arrow-left cmtyx_special_icon_color"></span>
</div>
<div class="add-contact-block">
	<div class="contact-message">
		<span>Add a contact using email or mobile number.</span>
	</div>
	<div class="select-how">
		<div class="selection by-email selected" name="by-email">
			<i class="fa fa-envelope" aria-hidden="true"></i>
		</div>
		<div class="selection by-mobile" name="by-mobile">
			<i class="fa fa-mobile" aria-hidden="true"></i>
		</div>
	</div>
	<div class="add-contact-by email">
		<div class="add-by-mobile">
			<span class="add-contact-hint">Type a phone number here:</span>
			<input class="phone-number" type="tel" name="mobile" placeholder="(US mobile)" value="" size="14" maxlength="64">
			<button class="add-number-button" name="send-mobile" type="button">Add Number</button>
		</div>
		<div class="add-by-email">
			<span class="add-contact-hint">Type an email address here:</span>
			<input class="email-address" type="text" name="email" placeholder="(Email address)" data-validation="required" value="" required="">
			<button class="add-email-button" name="send-email" type="button">Add Email</button>
		</div>
	</div>
</div>
