.cmtyx_desktop_application {
  .grid {
    .cmtyx_cart_block {
      .add_address_page {
        padding: 15px 10px 10px 10px;

        .body {
          height: calc(100% - 90px);
          overflow-y: auto;
          padding-right: 5px;

          .wrapper {
            display: flex;
            flex-direction: column;
            border: solid 1px $day-border;
            margin: 10px 0;
            padding: 1.5rem 10px 10px 10px; 
            
            .state-selector {
              margin-top: -10px;

              .state-selector-message {
                font-size: $size-normal-small;
                color: $review-user-name;
                margin-bottom: 5px;
              }

              select {
                width: 100%;
                outline: none;
              }
            }
          }

          .map_container {
              height: 370px;
              width: 100%;
              margin-bottom: 10px;
          }
        }

        .bottom_btns_block {
          display: none;
        }
      }
    }
  }
}