.cmtyx_desktop_application {
  .grid {
    .cmtyx_cart_block {
      .vantiv_page {
        padding: 0;
        height: 400px;

        iframe {
          width: 100%;
          height: 100%;
        }

        .navigation_block {
          .nav_next_btn {
            visibility: hidden;

            &.visible {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

