<div class="material-textfield">
	<input type="text" name="username" data-validation="required" value="" required="" />
	<label data-content="Username / Email"></label>
</div>

<p class="forgot_error hidden error">Incorrect username / email</p>

<button class="submit_forgot_btn" name="submit">ok</button>