<div class="material-textfield">
	<input type="text" name="username" value="" required="" />
	<label data-content="Username / Email"></label>
</div>

<button class="submit_forgot_btn" name="submit">ok</button>