<div class="sms_input_block">
  <input class="phone_us sms_input" type="tel" name="sms_input" placeholder="(US mobile)" value="" size="14" maxlength="64">
  <button class="sms_send_button cmtyx_color_1 cmtyx_border_color_1">Send</button>
</div>