<div data-role="page" id="cmtyx_aboutUs" class="ui-page build_combo">

    <div class="sub_header">
        <div class="total_price_order_block">
            <a class="header_order_btn order_btn order_button ui-link" id="roster_order_button">Done</a>
        </div>
    </div>

    <div data-role="content" class="content ui-content" role="main">
        <div class="menu_body">
            <div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    			<div data-role="collapsible" class="cmtyx_color_1 ui-collapsible ui-collapsible-themed-content ui-first-child ui-last-child">
    				<h3 class="firstItem ui-collapsible-heading">
    					<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit ui-icon-minus">Starter
			                <div class="cmntyex-group_description cmtyx_color_1">
			                    <span>Starter Group</span>
			                </div>
        				</a>
        			</h3>
        			<ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
        				<ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true">
        					<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child">
        						<div class="combo_item_container color1">
									<div class="input_container" data-iconpos="right">
										<label for="wX4KgmCFTiOj9G5IW1F_AQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Green Salad</label>
										<input type="radio" itemlabel="Green Salad" name="BUILDYOURCOMBO_STARTER" id="wX4KgmCFTiOj9G5IW1F_AQ" class="combo_item_input">
									</div>      
								</div>
							</li>
							<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
								<div class="combo_item_container color1">
									<div class="input_container" data-iconpos="right">
										<label for="TlQDJ7CtQsyP25ereedFFw" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Greek Salad</label>
										<input type="radio" itemlabel="Greek Salad" name="BUILDYOURCOMBO_STARTER" id="TlQDJ7CtQsyP25ereedFFw" class="combo_item_input">
									</div>      
								</div>
							</li>
							<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
								<div class="combo_item_container color1">
									<div class="input_container" data-iconpos="right">
										<label for="Up-_UYzlSwGtoJGE4NCa1Q" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Israeli Salad</label>
										<input type="radio" itemlabel="Israeli Salad" name="BUILDYOURCOMBO_STARTER" id="Up-_UYzlSwGtoJGE4NCa1Q" class="combo_item_input">
									</div>      
								</div>
							</li>
							<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
                                <div class="combo_item_container color1">
                                    <div class="input_container" data-iconpos="right">
                                        <label for="yKxm6MiVQ2ioOyLD-DYmlQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Veg Samosa</label>
                                        <input type="radio" itemlabel="Veg Samosa" name="BUILDYOURCOMBO_STARTER" id="yKxm6MiVQ2ioOyLD-DYmlQ" class="combo_item_input">
                                    </div>      
                                </div>
                            </li>
                        </ul>
                    </ul> 
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>


    <!-- <div><div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="cmtyx_color_3 ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed ui-first-child ui-last-child"><h3 class="firstItem ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-icon-plus ui-btn-inherit">Bread OR  Rice
            <span class="right_block"></span>
            
        <span class="ui-collapsible-heading-status"> click to expand contents</span></a></h3><div class="ui-collapsible-content ui-collapsible-content-collapsed ui-body-inherit" aria-hidden="true">
        
        <ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"><ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true"><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="8rBAXhU_Sm6B16WIfWuRIg" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Naan</label><input type="radio" itemlabel="Naan" name="BUILDYOURCOMBO_BREADORRICE" id="8rBAXhU_Sm6B16WIfWuRIg" class="combo_item_input"></div></div>
    </div>      
</div>

</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="NP2_r3JJSlqiz6fDoGuHGQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Garlic Nan</label><input type="radio" itemlabel="Garlic Nan" name="BUILDYOURCOMBO_BREADORRICE" id="NP2_r3JJSlqiz6fDoGuHGQ" class="combo_item_input"></div></div>
    </div>      
</div>

</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="uztw18Y8QjKACgTEA7MbQQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Butter Nan</label><input type="radio" itemlabel="Butter Nan" name="BUILDYOURCOMBO_BREADORRICE" id="uztw18Y8QjKACgTEA7MbQQ" class="combo_item_input"></div></div>
    </div>      
</div>

</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="UP7BrD99T-uz7I75Yu_o6w" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Pita</label><input type="radio" itemlabel="Pita" name="BUILDYOURCOMBO_BREADORRICE" id="UP7BrD99T-uz7I75Yu_o6w" class="combo_item_input"></div></div>
    </div>      
</div>

</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="nXasU5gMQGix0Lag-6XvWQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">White Rice</label><input type="radio" itemlabel="White Rice" name="BUILDYOURCOMBO_BREADORRICE" id="nXasU5gMQGix0Lag-6XvWQ" class="combo_item_input"></div></div>
    </div>      
</div>

</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-last-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="ifBUT7izSeSbx64s5leITg" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Brown Rice</label><input type="radio" itemlabel="Brown Rice" name="BUILDYOURCOMBO_BREADORRICE" id="ifBUT7izSeSbx64s5leITg" class="combo_item_input"></div></div>
    </div>      
</div>

</li></ul></div>
        </ul> &nbsp;&nbsp;&nbsp;&nbsp;
    </div></div>
</div></div> -->
        
        <div>
            <div class="ui-grid-a back_next_btns">
                <button class="add_to_cart_btn add_combo_button cmtyx_color_1 cmtyx_border_color_1 ui-btn ui-corner-all">Done</button>
            </div>
        </div>

    </div>

</div>
