<div data-role="page" id="customizationContainer" class="ui-page build_combo customizationContainer">

    <div class="sub_header">
        <div class="item-name">Customizing<br>[itemName]</div>
        <div class="total_price_order_block">
            <a class="header_order_btn done-btn ui-link" id="roster_order_button">Done</a>
        </div>
    </div>

    <div data-role="content" class="content ui-content" role="main">
        <div class="menu_body">
            <div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    			<div data-role="collapsible" class="cmtyx_color_1 ui-collapsible ui-collapsible-themed-content ui-first-child ui-last-child">
    				<h3 class="firstItem ui-collapsible-heading">
		                <div class="cmntyex-group_description cmtyx_color_1">
		                    <span>First Group</span>
		                </div>
        			</h3>
        			<ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
        				<ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true">
        					<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child">
        						<div class="combo_item_container color1">
									<div class="input_container" data-iconpos="right">
										<label for="first_item_1" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Item1</label>
										<input type="radio" name="first_group" id="first_item_1" class="combo_item_input">
									</div>      
								</div>
							</li>
							<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
								<div class="combo_item_container color1">
									<div class="input_container" data-iconpos="right">
										<label for="first_item_2" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Item2</label>
										<input type="radio" name="first_group" id="first_item_2" class="combo_item_input">
									</div>      
								</div>
							</li>
							<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
								<div class="combo_item_container color1">
									<div class="input_container" data-iconpos="right">
										<label for="first_item_3" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Item3</label>
										<input type="radio" name="first_group" id="first_item_3" class="combo_item_input">
									</div>      
								</div>
							</li>
							<li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
                                <div class="combo_item_container color1">
                                    <div class="input_container" data-iconpos="right">
                                        <label for="first_item_4" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Item4</label>
                                        <input type="radio" name="first_group" id="first_item_4" class="combo_item_input">
                                    </div>      
                                </div>
                            </li>
                        </ul>
                    </ul> 
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>

            <div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
                <div data-role="collapsible" class="cmtyx_color_2 ui-collapsible ui-collapsible-themed-content ui-first-child ui-last-child">
                    <h3 class="firstItem ui-collapsible-heading">
                        <div class="cmntyex-group_description cmtyx_color_2">
                            <span>Second Group</span>
                        </div>
                    </h3>
                    <ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
                        <ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true">
                            <li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child">
                                <div class="combo_item_container color1">
                                    <div class="input_container" data-iconpos="right">
                                        <label for="second_item_1" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Item1</label>
                                        <input type="checkbox" name="second_group" id="second_item_1" class="combo_item_input">
                                    </div>      
                                </div>
                            </li>
                            <li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
                                <div class="combo_item_container color1">
                                    <div class="input_container" data-iconpos="right">
                                        <label for="second_item_2" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Item2</label>
                                        <input type="checkbox" name="second_group" id="second_item_2" class="combo_item_input">
                                    </div>      
                                </div>
                            </li>
                            <li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
                                <div class="combo_item_container color1">
                                    <div class="input_container" data-iconpos="right">
                                        <label for="second_item_3" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Item3</label>
                                        <input type="checkbox" name="second_group" id="second_item_3" class="combo_item_input">
                                    </div>      
                                </div>
                            </li>
                            <li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit">
                                <div class="combo_item_container color1">
                                    <div class="input_container" data-iconpos="right">
                                        <label for="second_item_4" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Item4</label>
                                        <input type="checkbox" name="second_group" id="second_item_4" class="combo_item_input">
                                    </div>      
                                </div>
                            </li>
                        </ul>
                    </ul> 
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        
        <div>
            <div class="ui-grid-a back_next_btns">
                <button class="ui-btn ui-corner-all done-btn">Done</button>
            </div>
        </div>

    </div>
</div>
