<div data-role="page" id="cmtyx_aboutUs" data-title="Info" class="ui-page build_combo">

    <div class="sub_header">
        <div class="basket_icon_container">
            <a href="#left-panel edit_button" class="ui-link">
                <span class="shopping_icon"></span>
            </a>
            <span class="cart_items_number">0</span>
        </div>
        <div class="total_price_order_block">
            <span class="total_price">$ 0.00</span>
            <a class="header_order_btn order_btn order_button ui-link" id="roster_order_button" style="display: none;">Proceed to order</a>
        </div>
    </div>
    <div data-role="content" class="content ui-content" role="main">
        <div class="menu_body">
            <!-- <div class="build_combo_title"> <span class="build_combo_back_btn navbutton_back back"></span> <span>Build your own combo</span> </div> -->
            <div class="cmntyex-items_placeholder"><div><div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="cmtyx_color_1 ui-collapsible ui-collapsible-themed-content ui-first-child ui-last-child"><h3 class="firstItem ui-collapsible-heading"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit ui-icon-minus">Starter
            <span class="right_block"></span>
            
                <div class="cmntyex-group_description cmtyx_color_1">
                    <span>Starter Group</span>
                </div>
            
        <span class="ui-collapsible-heading-status"> click to collapse contents</span></a></h3><div class="ui-collapsible-content ui-body-inherit" aria-hidden="false">
        
        <ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"><ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true"><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="wX4KgmCFTiOj9G5IW1F_AQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Green Salad</label><input type="radio" itemlabel="Green Salad" name="BUILDYOURCOMBO_STARTER" id="wX4KgmCFTiOj9G5IW1F_AQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="wX4KgmCFTiOj9G5IW1F_AQ"  >
     Green Salad
    <input class="catalog-radio-button__input"
           id="wX4KgmCFTiOj9G5IW1F_AQ" type="radio" name="BUILDYOURCOMBO_STARTER">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="TlQDJ7CtQsyP25ereedFFw" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Greek Salad</label><input type="radio" itemlabel="Greek Salad" name="BUILDYOURCOMBO_STARTER" id="TlQDJ7CtQsyP25ereedFFw" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="TlQDJ7CtQsyP25ereedFFw"  >
     Greek Salad
    <input class="catalog-radio-button__input"
           id="TlQDJ7CtQsyP25ereedFFw" type="radio" name="BUILDYOURCOMBO_STARTER">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="Up-_UYzlSwGtoJGE4NCa1Q" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Israeli Salad</label><input type="radio" itemlabel="Israeli Salad" name="BUILDYOURCOMBO_STARTER" id="Up-_UYzlSwGtoJGE4NCa1Q" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="Up-_UYzlSwGtoJGE4NCa1Q"  >
     Israeli Salad
    <input class="catalog-radio-button__input"
           id="Up-_UYzlSwGtoJGE4NCa1Q" type="radio" name="BUILDYOURCOMBO_STARTER">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="yKxm6MiVQ2ioOyLD-DYmlQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Veg Samosa</label><input type="radio" itemlabel="Veg Samosa" name="BUILDYOURCOMBO_STARTER" id="yKxm6MiVQ2ioOyLD-DYmlQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="yKxm6MiVQ2ioOyLD-DYmlQ"  >
     Veg Samosa
    <input class="catalog-radio-button__input"
           id="yKxm6MiVQ2ioOyLD-DYmlQ" type="radio" name="BUILDYOURCOMBO_STARTER">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="kMdITBPeR_6J-58137xtzg" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Spring Roll</label><input type="radio" itemlabel="Spring Roll" name="BUILDYOURCOMBO_STARTER" id="kMdITBPeR_6J-58137xtzg" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="kMdITBPeR_6J-58137xtzg"  >
     Spring Roll
    <input class="catalog-radio-button__input"
           id="kMdITBPeR_6J-58137xtzg" type="radio" name="BUILDYOURCOMBO_STARTER">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-last-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="Jo0bHvGTS4SKLzi3tfec2A" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Falafel</label><input type="radio" itemlabel="Falafel" name="BUILDYOURCOMBO_STARTER" id="Jo0bHvGTS4SKLzi3tfec2A" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="Jo0bHvGTS4SKLzi3tfec2A"  >
     Falafel
    <input class="catalog-radio-button__input"
           id="Jo0bHvGTS4SKLzi3tfec2A" type="radio" name="BUILDYOURCOMBO_STARTER">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li></ul></div>
        </ul> &nbsp;&nbsp;&nbsp;&nbsp;
    </div></div>
</div></div><div><div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="cmtyx_color_3 ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed ui-first-child ui-last-child"><h3 class="firstItem ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-icon-plus ui-btn-inherit">Bread OR  Rice
            <span class="right_block"></span>
            
        <span class="ui-collapsible-heading-status"> click to expand contents</span></a></h3><div class="ui-collapsible-content ui-collapsible-content-collapsed ui-body-inherit" aria-hidden="true">
        
        <ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"><ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true"><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="8rBAXhU_Sm6B16WIfWuRIg" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Naan</label><input type="radio" itemlabel="Naan" name="BUILDYOURCOMBO_BREADORRICE" id="8rBAXhU_Sm6B16WIfWuRIg" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="8rBAXhU_Sm6B16WIfWuRIg"  >
     Naan
    <input class="catalog-radio-button__input"
           id="8rBAXhU_Sm6B16WIfWuRIg" type="radio" name="BUILDYOURCOMBO_BREADORRICE">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="NP2_r3JJSlqiz6fDoGuHGQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Garlic Nan</label><input type="radio" itemlabel="Garlic Nan" name="BUILDYOURCOMBO_BREADORRICE" id="NP2_r3JJSlqiz6fDoGuHGQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="NP2_r3JJSlqiz6fDoGuHGQ"  >
     Garlic Nan
    <input class="catalog-radio-button__input"
           id="NP2_r3JJSlqiz6fDoGuHGQ" type="radio" name="BUILDYOURCOMBO_BREADORRICE">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="uztw18Y8QjKACgTEA7MbQQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Butter Nan</label><input type="radio" itemlabel="Butter Nan" name="BUILDYOURCOMBO_BREADORRICE" id="uztw18Y8QjKACgTEA7MbQQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="uztw18Y8QjKACgTEA7MbQQ"  >
     Butter Nan
    <input class="catalog-radio-button__input"
           id="uztw18Y8QjKACgTEA7MbQQ" type="radio" name="BUILDYOURCOMBO_BREADORRICE">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="UP7BrD99T-uz7I75Yu_o6w" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Pita</label><input type="radio" itemlabel="Pita" name="BUILDYOURCOMBO_BREADORRICE" id="UP7BrD99T-uz7I75Yu_o6w" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="UP7BrD99T-uz7I75Yu_o6w"  >
     Pita
    <input class="catalog-radio-button__input"
           id="UP7BrD99T-uz7I75Yu_o6w" type="radio" name="BUILDYOURCOMBO_BREADORRICE">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="nXasU5gMQGix0Lag-6XvWQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">White Rice</label><input type="radio" itemlabel="White Rice" name="BUILDYOURCOMBO_BREADORRICE" id="nXasU5gMQGix0Lag-6XvWQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="nXasU5gMQGix0Lag-6XvWQ"  >
     White Rice
    <input class="catalog-radio-button__input"
           id="nXasU5gMQGix0Lag-6XvWQ" type="radio" name="BUILDYOURCOMBO_BREADORRICE">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-last-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="ifBUT7izSeSbx64s5leITg" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Brown Rice</label><input type="radio" itemlabel="Brown Rice" name="BUILDYOURCOMBO_BREADORRICE" id="ifBUT7izSeSbx64s5leITg" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="ifBUT7izSeSbx64s5leITg"  >
     Brown Rice
    <input class="catalog-radio-button__input"
           id="ifBUT7izSeSbx64s5leITg" type="radio" name="BUILDYOURCOMBO_BREADORRICE">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li></ul></div>
        </ul> &nbsp;&nbsp;&nbsp;&nbsp;
    </div></div>
</div></div><div><div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="cmtyx_color_1 ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed ui-first-child ui-last-child"><h3 class="firstItem ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-icon-plus ui-btn-inherit">Curries
            <span class="right_block"></span>
            
        <span class="ui-collapsible-heading-status"> click to expand contents</span></a></h3><div class="ui-collapsible-content ui-collapsible-content-collapsed ui-body-inherit" aria-hidden="true">
        
        <ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"><ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true"><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="NgaobtiFTl2fvuTjgY5maw" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Cauliflower Manchurian Dry</label><input type="radio" itemlabel="Cauliflower Manchurian Dry" name="BUILDYOURCOMBO_CURRIES" id="NgaobtiFTl2fvuTjgY5maw" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="NgaobtiFTl2fvuTjgY5maw"  >
     Cauliflower Manchurian Dry
    <input class="catalog-radio-button__input"
           id="NgaobtiFTl2fvuTjgY5maw" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="7Dwcv7yMSGiGViTD_c4H7Q" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Channa Masala</label><input type="radio" itemlabel="Channa Masala" name="BUILDYOURCOMBO_CURRIES" id="7Dwcv7yMSGiGViTD_c4H7Q" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="7Dwcv7yMSGiGViTD_c4H7Q"  >
     Channa Masala
    <input class="catalog-radio-button__input"
           id="7Dwcv7yMSGiGViTD_c4H7Q" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="EnZNYI2bSgO6_fbirJDMow" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Masala Dal</label><input type="radio" itemlabel="Masala Dal" name="BUILDYOURCOMBO_CURRIES" id="EnZNYI2bSgO6_fbirJDMow" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="EnZNYI2bSgO6_fbirJDMow"  >
     Masala Dal
    <input class="catalog-radio-button__input"
           id="EnZNYI2bSgO6_fbirJDMow" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="2RxEdfamT5m29jZcsKa53g" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Paneer Tikka masala</label><input type="radio" itemlabel="Paneer Tikka masala" name="BUILDYOURCOMBO_CURRIES" id="2RxEdfamT5m29jZcsKa53g" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="2RxEdfamT5m29jZcsKa53g"  >
     Paneer Tikka masala
    <input class="catalog-radio-button__input"
           id="2RxEdfamT5m29jZcsKa53g" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="H44WeUIqQ2-3b4sD2E7ZfQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Szhechuan Eggplant</label><input type="radio" itemlabel="Szhechuan Eggplant" name="BUILDYOURCOMBO_CURRIES" id="H44WeUIqQ2-3b4sD2E7ZfQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="H44WeUIqQ2-3b4sD2E7ZfQ"  >
     Szhechuan Eggplant
    <input class="catalog-radio-button__input"
           id="H44WeUIqQ2-3b4sD2E7ZfQ" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="w9X3j5wNS2qnqCrELp-pww" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Veg Noodle</label><input type="radio" itemlabel="Veg Noodle" name="BUILDYOURCOMBO_CURRIES" id="w9X3j5wNS2qnqCrELp-pww" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="w9X3j5wNS2qnqCrELp-pww"  >
     Veg Noodle
    <input class="catalog-radio-button__input"
           id="w9X3j5wNS2qnqCrELp-pww" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="1-D9UzF5S3Sfnc3gSa7rsA" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Butter Chicken</label><input type="radio" itemlabel="Butter Chicken" name="BUILDYOURCOMBO_CURRIES" id="1-D9UzF5S3Sfnc3gSa7rsA" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="1-D9UzF5S3Sfnc3gSa7rsA"  >
     Butter Chicken
    <input class="catalog-radio-button__input"
           id="1-D9UzF5S3Sfnc3gSa7rsA" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="CkHPbZvkTsyCinHnaOleGA" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Chicken Curry</label><input type="radio" itemlabel="Chicken Curry" name="BUILDYOURCOMBO_CURRIES" id="CkHPbZvkTsyCinHnaOleGA" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="CkHPbZvkTsyCinHnaOleGA"  >
     Chicken Curry
    <input class="catalog-radio-button__input"
           id="CkHPbZvkTsyCinHnaOleGA" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="UE_cVFwfSn6PLM8_mDBPrQ" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Chicken Kabob</label><input type="radio" itemlabel="Chicken Kabob" name="BUILDYOURCOMBO_CURRIES" id="UE_cVFwfSn6PLM8_mDBPrQ" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="UE_cVFwfSn6PLM8_mDBPrQ"  >
     Chicken Kabob
    <input class="catalog-radio-button__input"
           id="UE_cVFwfSn6PLM8_mDBPrQ" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="ExqNR1pERIuXuo4XLfTU8Q" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Chicken Noodle</label><input type="radio" itemlabel="Chicken Noodle" name="BUILDYOURCOMBO_CURRIES" id="ExqNR1pERIuXuo4XLfTU8Q" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="ExqNR1pERIuXuo4XLfTU8Q"  >
     Chicken Noodle
    <input class="catalog-radio-button__input"
           id="ExqNR1pERIuXuo4XLfTU8Q" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="2ZGvBhfaR2aBy0MJBjOO3w" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Chicken Pepper Fry</label><input type="radio" itemlabel="Chicken Pepper Fry" name="BUILDYOURCOMBO_CURRIES" id="2ZGvBhfaR2aBy0MJBjOO3w" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="2ZGvBhfaR2aBy0MJBjOO3w"  >
     Chicken Pepper Fry
    <input class="catalog-radio-button__input"
           id="2ZGvBhfaR2aBy0MJBjOO3w" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="N0G_rwR9TrO0gSdHQblNKA" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Chilli Chicken</label><input type="radio" itemlabel="Chilli Chicken" name="BUILDYOURCOMBO_CURRIES" id="N0G_rwR9TrO0gSdHQblNKA" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="N0G_rwR9TrO0gSdHQblNKA"  >
     Chilli Chicken
    <input class="catalog-radio-button__input"
           id="N0G_rwR9TrO0gSdHQblNKA" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-last-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="5hxj9Wk5TjGxlLkxFRzZqw" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Grilled Fish</label><input type="radio" itemlabel="Grilled Fish" name="BUILDYOURCOMBO_CURRIES" id="5hxj9Wk5TjGxlLkxFRzZqw" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_1; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="5hxj9Wk5TjGxlLkxFRzZqw"  >
     Grilled Fish
    <input class="catalog-radio-button__input"
           id="5hxj9Wk5TjGxlLkxFRzZqw" type="radio" name="BUILDYOURCOMBO_CURRIES">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li></ul></div>
        </ul> &nbsp;&nbsp;&nbsp;&nbsp;
    </div></div>
</div></div><div><div class="collapsibleSet build_combo_collapse ui-collapsible-set ui-group-theme-inherit" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="cmtyx_color_3 ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed ui-first-child ui-last-child"><h3 class="firstItem ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-icon-plus ui-btn-inherit">Desert
            <span class="right_block"></span>
            
        <span class="ui-collapsible-heading-status"> click to expand contents</span></a></h3><div class="ui-collapsible-content ui-collapsible-content-collapsed ui-body-inherit" aria-hidden="true">
        
        <ul data-role="listview" data-inset="false" class="items_list ui-listview" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"><ul class="cmntyex-catalog ui-listview" data-role="listview" data-icon="true"><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-first-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="v50uUyCyRFKj03Bhf7_Evg" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-on">Baklava</label><input type="radio" itemlabel="Baklava" name="BUILDYOURCOMBO_DESERT" id="v50uUyCyRFKj03Bhf7_Evg" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="v50uUyCyRFKj03Bhf7_Evg"  >
     Baklava
    <input class="catalog-radio-button__input"
           id="v50uUyCyRFKj03Bhf7_Evg" type="radio" name="BUILDYOURCOMBO_DESERT">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="_B-EvMCTR6qXFMNQu9CETw" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Fresh Fruits</label><input type="radio" itemlabel="Fresh Fruits" name="BUILDYOURCOMBO_DESERT" id="_B-EvMCTR6qXFMNQu9CETw" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="_B-EvMCTR6qXFMNQu9CETw"  >
     Fresh Fruits
    <input class="catalog-radio-button__input"
           id="_B-EvMCTR6qXFMNQu9CETw" type="radio" name="BUILDYOURCOMBO_DESERT">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li><li class="cmntyex-catalog-item sub-radio-list ui-li-static ui-body-inherit ui-last-child"><div class="combo_item_container color1"><span class="catalog_sub_item_img"></span>
    <div class="input_container" data-iconpos="right">
        <div class="ui-radio">
            
            <div class="ui-radio"><label for="GrXNefltRzSJCYd9qbZrGA" class="catalog_sub_item_name ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-radio-off">Gulab Jammon</label><input type="radio" itemlabel="Gulab Jammon" name="BUILDYOURCOMBO_DESERT" id="GrXNefltRzSJCYd9qbZrGA" class="combo_item_input"></div></div>
    </div>      
</div>

 <!--<label style="padding-left:20px; text-shadow:none;background-color: cmtyx_color_3; border-color:#555;"
        class="catalog-radio-button__label catalog-radio-button " for="GrXNefltRzSJCYd9qbZrGA"  >
     Gulab Jammon
    <input class="catalog-radio-button__input"
           id="GrXNefltRzSJCYd9qbZrGA" type="radio" name="BUILDYOURCOMBO_DESERT">
    <span class="catalog-radio-button__icon"></span>
 </label>-->
</li></ul></div>
        </ul> &nbsp;&nbsp;&nbsp;&nbsp;
    </div></div>
</div></div></div>
            <div class="ui-grid-a back_next_btns">
                <button class="add_to_cart_btn add_combo_button cmtyx_color_1 cmtyx_border_color_1 ui-btn ui-corner-all">Add to cart</button>
            </div>
        </div>
    </div>


</div>
