<div data-role="page" id="appointments">
    <div class="body">
        <ul class="panel_header" data-role="listview">
        <% _.each( appointments, function(day){ %>
           <li>
               <span>is empty now</span>
           </li>
        <% }); %>
    </div>
</div>
