<div data-role="page" id="business_hours">
    <div class="body">
        <div class="table_container">
            <table>
                <tr>
                    <td class="day cmtyx_text_color_1">sun</td>
                    <td> <%= sun %> </td>
                </tr>
                <tr>
                    <td class="day cmtyx_text_color_1">mon</td>
                    <td>09 - 22</td>
                </tr>
                <tr>
                    <td class="day cmtyx_text_color_1">tue</td>
                    <td>09 - 22</td>
                </tr>
                <tr>
                    <td class="day cmtyx_text_color_1">wed</td>
                    <td>09 - 22</td>
                </tr>
                <tr>
                    <td class="day cmtyx_text_color_1">thu</td>
                    <td>09 - 22</td>
                </tr>
                <tr>
                    <td class="day cmtyx_text_color_1">fri</td>
                    <td>09 - 22</td>
                </tr>
                <tr>
                    <td class="day cmtyx_text_color_1">sat</td>
                    <td>09 - 22</td>
                </tr>
            </table>
        </div>
    </div>
</div>