<div data-role="page" id="business_hours">
    <div class="body">
        <div class="table_container">

            <table>
                <% _.each( hours, function( hour ) { %>
                    <tr>
                        <td class="day cmtyx_text_color_1">
                            <%= hour[0] %>
                        </td>
                        <td><%= hour[1] %><% if (hour[1] !== 'closed') { %>
                            <span>- </span><%= hour[hour.length - 1] %>
                            <% } %>
                        </td>
                    </tr>
                <% } ) %>
            </table>
        </div>
    </div>
</div>
