<div data-role="page" id="contact_us" data-title="Info" class="ui-page">
    <div class="body">
        <div class="title">keep in touch</div>
        <div class="undertitle">Do you have some questions? Feel free to write us!</div>
        <div class="input_container">
            <div class="material-textfield yellow">
                <input type="text" class="contact_name" required data-role="none" />
                <label data-content="Name">Name</label>
            </div>
            <div class="material-textfield yellow">
                <input type="text" class="contact_email validate" required data-role="none" value="<%= userName || '' %>" />
                <label data-content="Email">Email</label>
            </div>
            <div class="material-textfield yellow">
                <input type="text" class="contact_subject validate" required data-role="none" value="<%= subject %>" />
                <label data-content="Subject">Subject</label>
            </div>
            <div class="material-textfield yellow">
                <textarea required class="contact_message" data-role="none" rows="3"></textarea>
                <label data-content="Message">City</label>
            </div>
        </div>
        <div class="ui-grid-a back_next_btns">
            <button class="ui-btn ui-corner-all back_btn send_btn cmtyx_text_color_1 cmtyx_border_color_1">send</button>
        </div>
    </div>
</div>