<div data-role="listview panel" id="left-panel" class="cart" data-display="overlay">
    <div class="cart_header"> <span class="cart_header_title">Your order</span>
        <a href="#" data-rel="close" class="close_cart_button close_roster_basket_panel_button left_arrow_icon"></a>
    </div>
    <div class="cmntyex-list_container"></div>
    <div>
    	<span class="subtotal_price_container">Sub total: <span class="total_price"></span></span>
    	<span class="order_btn" data-role="none">Proceed to order</span>
    </div>
</div>
