<a href="#" data-rel="back" class="close_btn"></a>
<% if (title) { %>
    <div class="header-title" data-role="header" data-theme="a">
        <span><%= title %></span>
    </div>
<% } %>
<div role="main" class="ui-content">
    <img src="<%= imgSource %>" alt="">
</div>
