<!-- <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> -->
<a href="#" data-rel="back" class="close_btn"></a>
<div class="signin_alert_header" data-role="header" data-theme="a">
    <h1>Forgot Password</h1>
</div>
<div role="main" class="ui-content">
    <form action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset class="auth_fieldset" data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                    <label for="email">email/username</label>
                    <input type="email" autocapitalize="off" name="email" data-corners="false" placeholder="Username / Email"/>
                    <p class="email_error hidden error">Please, enter a valid email or username</p>
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" data-rel="back" class="cancel cmtyx_border_color_1 cmtyx_text_color_1" data-role="button" data-corners="true">CANCEL</a>
            </div>
            <div class="ui-block-b">
                <a href="#" class="submit cmtyx_color_1 cmtyx_border_color_1" data-role="button" data-corners="true">OK</a>
            </div>
        </div>
    </form>
</div>
