<div data-role="listview panel" id="left-panel" class="cart" data-display="overlay">
    <ul class="left_panel_menu">
        <li class="menu_item">
            <div class="menu_item_icon list_img"></div>
            <span class="menu_item_title">View/Edit catalogue</span>
            <a href="#" data-rel="close" class="close_cart_button close_button">
                <div class="left_arr_icon left_arr_img"></div>
            </a>
        </li>
        <li class="menu_item chat_btn">
            <div class="menu_item_icon speech_bubble_img"></div>
            <span class="menu_item_title">Messanging/Chat</span></li>
        <li class="menu_item business_hours_btn">
            <div class="menu_item_icon clock_circular_img"></div>
            <span class="menu_item_title">Business hours</span></li>

        <li class="menu_item">
        <div class="menu_item_icon photo_camera_img"></div>><span class="menu_item_title">Upload photo</span></li>

        <li class="menu_item user_reviews_btn">
            <div class="menu_item_icon speaking_img"></div>
            <span class="menu_item_title">User reviews</span></li>
        <li class="menu_item appointments_btn">
            <div class="menu_item_icon calendar_img"></div>
            <span class="menu_item_title">Appointments</span></li>
        <li class="menu_item contact_us_btn">
            <div class="menu_item_icon edit_img"></div>
            <span class="menu_item_title">Contact us</span></li>
    </ul>
</div>