<div class="header">
    <span class="title">Loyalty Card</span>
    <div class="collapse_btn"></div>
</div>
<div class="body">
    <div class="prize_block">
        <% if (hasLoyaltyProgram) { %>
            <div class="ui-grid-a prize_container">
                <div class="ui-block-a">
                    <div class="prize_text_block">
                        <span class="prize_text"><%= awardMessage %></span>
                        <span class="prize_condition"><%= displayText %></span>
                        <span class="prize_date"><% if (expirationDate) { %> till <%= expirationDate %> <% } %></span>
                    </div>
                </div>
                <div class="ui-block-b ">
                    <img src="<%= url %>"></img>
                </div>
            </div>
            <div class="loyalty_status"></div>
        <% } %>
        <div class="no_qr_code_block cmtyx_color1">
            <button class="refresh_button_style1"> Refresh </button>
        </div>
        <div class="qr_code_block cmtyx_color1">
            <span class="close_btn"></span>
            <span class="qr_code_title title cmtyx_color1">This is your personal identification code</span>
            <div class="qr_code_container">
                <img src="themes/1/placeholder_images/getUserQRCode.png" alt="" style="width:100%">
            </div>
            <span class="qr_code_title info cmtyx_color1">Use this for checking in or for loyalty programs.</span>
        </div>

    </div>
</div>
