<!-- <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> -->
<a href="#" data-rel="back" class="close_btn"></a>
<% if (title) { %>
    <div class="signin_alert_header" data-role="header" data-theme="a">
        <h1><%= title %></h1>
    </div>
<% } %>
<div role="main" class="ui-content">
    <div class="signin-popup-title">Sign in</div>
    <div class="ui-grid-a signin_links">
        <div class="ui-block-a">
            
        </div>
        <div class="ui-block-b">
            <!-- <a href="https://chalkboardstoday.com/support?svc=passwordChange"class="signup_button" data-theme="c"  data-corners="false">Forgot password ?</a> -->
            <a href="" class="forgot_password_button" data-theme="c"  data-corners="false">Forgot password?</a>
        </div>
    </div>
    <form action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset class="auth_fieldset" data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                    <p class="login_error hidden error">Incorrect mobile or password</p>
                    <label for="username">Mobile:</label>
                    <input id="mobile_input" autocapitalize="off" type="tel" name="username" data-role="none" data-corners="false" placeholder="Mobile" />
                    <label for="password">Password:</label>
                    <input autocapitalize="off" type="password" name="password" data-role="none" data-corners="false" placeholder="Password" />
                    <input type="checkbox" id="show_password" name="show_password" data-role="none"> 
                    <label for="show_password">Show password</label>
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-a">
            <!--div class="ui-block-a">
                <a href="#" class="close_button" data-role="button" data-corners="false">Cancel</a>
            </div-->

            <div class="ui-grid-solo">
                <div class="ui-block-a">
                    <a type="submit" class="submit_button popup_btn" data-role="button" data-corners="true">Sign in</a>
                </div>
            </div>
        </div>
    </form>
    <!--
    <div class="login_with_facebook">
        <span></span>
    </div>
    -->
    <div class="new-title">New to Chalkboards?</div>
    <div class="ui-grid-a">
        <!--div class="ui-block-a">
            <a href="#" class="close_button" data-role="button" data-corners="false">Cancel</a>
        </div-->

        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <a class="signup_button" data-theme="c" data-role="button" data-corners="false">Create Account</a>
            </div>
        </div>
    </div>
</div>
