<div role="main" style="color:<%= color %>" class="ui-content cmntyex_text_message">
    <%= text %>
</div>
<div class="ui-grid-solo">
    <div class="ui-block-a">
        <a href="#" class="confirmation_button cmtyx_border_color_1 cmtyx_text_color_1" data-role="button" data-corners="false" >OK</a>
    </div>
</div>
