<div data-role="page" id="upload_photo">
    <div class="body">
        <div class="title_block">
            <div class="material-textfield yellow">
                <input type="text" class="upload_title" required="" data-role="none" autocapitalize="none">
                <label data-content="Title">Title</label>
            </div>
            <div class="error_msg">* enter a title</div>
        </div>
        <div class="upload_photo" data-role="none">
            <div data-role="none" class="dropzone" data-width="320" data-height="568" style="width: 100%;">
                <input type="file" data-role="none" name="thumb" />
            </div>
            <div class="error_msg">* add a picture</div>
        </div>
        <div class="description_block">
            <div class="material-textfield yellow">
                <textarea required class="upload_description" data-role="none" rows="3" autocapitalize="none" ></textarea>
                <label data-content="Description">Description</label>
            </div>
            <div class="error_msg">* enter a description</div>
        </div>
        <div class="ui-grid-a back_next_btns">
            <div class="ui-block-a">
                <button class="cmtyx_border_color_1 cmtyx_text_color_1 ui-btn ui-corner-all close_button">Cancel</button>
            </div>
            <div class="ui-block-b">
                <button class="cmtyx_color_1 cmtyx_border_color_1 ui-btn ui-corner-all save_button">Save</button>
            </div>
        </div>
    </div>
</div>
