.cmtyx_color_1 { background-color: #ca1d1d; }
.cmtyx_color_2 { background-color: #ca1d2b; }
.cmtyx_color_3 { background-color: #e33320; }
.cmtyx_color_4 { background-color: #faa019; }
.cmtyx_color_5 { background-color: #f05d13; }
.cmtyx_color_6 { background-color: #ef7112; }
.cmtyx_color_7 { background-color: #ca1d3a; }
.cmtyx_color_8 { background-color: #e34a20; }
.cmtyx_color_9 { background-color: #e32020; }

.cmtyx_text_color_1 { color: #ca1d1d; }
.cmtyx_text_color_2 { color: #ca1d2b; }
.cmtyx_text_color_3 { color: #e33320; }
.cmtyx_text_color_4 { color: #faa019; }
.cmtyx_text_color_5 { color: #f05d13; }
.cmtyx_text_color_6 { color: #ef7112; }
.cmtyx_text_color_7 { color: #ca1d3a; }
.cmtyx_text_color_8 { color: #e34a20; }
.cmtyx_text_color_9 { color: #e32020; }

.cmtyx_border_color_1 { border-color: #ca1d1d; }
.cmtyx_border_color_2 { border-color: #ca1d2b; }
.cmtyx_border_color_3 { border-color: #e33320; }
.cmtyx_border_color_4 { border-color: #faa019; }
.cmtyx_border_color_5 { border-color: #f05d13; }
.cmtyx_border_color_6 { border-color: #ef7112; }
.cmtyx_border_color_7 { border-color: #ca1d3a; }
.cmtyx_border_color_8 { border-color: #e34a20; }
.cmtyx_border_color_9 { border-color: #e32020; }