@import url(https://fonts.googleapis.com/css?family=Roboto);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #363636;
  font-family: Roboto; }

body::-webkit-scrollbar,
.catalog-container::-webkit-scrollbar {
  width: 5px; }

body::-webkit-scrollbar-thumb,
.catalog-container::-webkit-scrollbar-thumb {
  background-color: #7e7e7e;
  border-radius: 2px;
  opacity: 0.5; }

/*Styles for helpers*/
.m-l-0 {
  margin-left: 0px; }

.m-l-5 {
  margin-left: 5px; }

.m-l-10 {
  margin-left: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-l-20 {
  margin-left: 20px; }

.m-l-25 {
  margin-left: 25px; }

.m-l-30 {
  margin-left: 30px; }

.m-l-35 {
  margin-left: 35px; }

.m-l-40 {
  margin-left: 40px; }

.m-l-45 {
  margin-left: 45px; }

.m-l-50 {
  margin-left: 50px; }

.m-r-0 {
  margin-right: 0px; }

.m-r-5 {
  margin-right: 5px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-15 {
  margin-right: 15px; }

.m-r-20 {
  margin-right: 20px; }

.m-r-25 {
  margin-right: 25px; }

.m-r-30 {
  margin-right: 30px; }

.m-r-35 {
  margin-right: 35px; }

.m-r-40 {
  margin-right: 40px; }

.m-r-45 {
  margin-right: 45px; }

.m-r-50 {
  margin-right: 50px; }

.m-t-0 {
  margin-top: 0px; }

.m-t-5 {
  margin-top: 5px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-25 {
  margin-top: 25px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-35 {
  margin-top: 35px; }

.m-t-40 {
  margin-top: 40px; }

.m-t-45 {
  margin-top: 45px; }

.m-t-50 {
  margin-top: 50px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-b-30 {
  margin-bottom: 30px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-b-45 {
  margin-bottom: 45px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-0 {
  margin: 0px; }

.m-5 {
  margin: 5px; }

.m-10 {
  margin: 10px; }

.m-15 {
  margin: 15px; }

.m-20 {
  margin: 20px; }

.m-25 {
  margin: 25px; }

.m-30 {
  margin: 30px; }

.m-35 {
  margin: 35px; }

.m-40 {
  margin: 40px; }

.m-45 {
  margin: 45px; }

.m-50 {
  margin: 50px; }

.p-l-0 {
  padding-left: 0px; }

.p-l-5 {
  padding-left: 5px; }

.p-l-10 {
  padding-left: 10px; }

.p-l-15 {
  padding-left: 15px; }

.p-l-20 {
  padding-left: 20px; }

.p-l-25 {
  padding-left: 25px; }

.p-l-30 {
  padding-left: 30px; }

.p-l-35 {
  padding-left: 35px; }

.p-l-40 {
  padding-left: 40px; }

.p-l-45 {
  padding-left: 45px; }

.p-l-50 {
  padding-left: 50px; }

.p-r-0 {
  padding-right: 0px; }

.p-r-5 {
  padding-right: 5px; }

.p-r-10 {
  padding-right: 10px; }

.p-r-15 {
  padding-right: 15px; }

.p-r-20 {
  padding-right: 20px; }

.p-r-25 {
  padding-right: 25px; }

.p-r-30 {
  padding-right: 30px; }

.p-r-35 {
  padding-right: 35px; }

.p-r-40 {
  padding-right: 40px; }

.p-r-45 {
  padding-right: 45px; }

.p-r-50 {
  padding-right: 50px; }

.p-t-0 {
  padding-top: 0px; }

.p-t-5 {
  padding-top: 5px; }

.p-t-10 {
  padding-top: 10px; }

.p-t-15 {
  padding-top: 15px; }

.p-t-20 {
  padding-top: 20px; }

.p-t-25 {
  padding-top: 25px; }

.p-t-30 {
  padding-top: 30px; }

.p-t-35 {
  padding-top: 35px; }

.p-t-40 {
  padding-top: 40px; }

.p-t-45 {
  padding-top: 45px; }

.p-t-50 {
  padding-top: 50px; }

.p-b-0 {
  padding-bottom: 0px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-b-20 {
  padding-bottom: 20px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-b-30 {
  padding-bottom: 30px; }

.p-b-35 {
  padding-bottom: 35px; }

.p-b-40 {
  padding-bottom: 40px; }

.p-b-45 {
  padding-bottom: 45px; }

.p-b-50 {
  padding-bottom: 50px; }

.p-0 {
  padding: 0px; }

.p-5 {
  padding: 5px; }

.p-10 {
  padding: 10px; }

.p-15 {
  padding: 15px; }

.p-20 {
  padding: 20px; }

.p-25 {
  padding: 25px; }

.p-30 {
  padding: 30px; }

.p-35 {
  padding: 35px; }

.p-40 {
  padding: 40px; }

.p-45 {
  padding: 45px; }

.p-50 {
  padding: 50px; }

.b-r-0 {
  border-radius: 0px; }

.b-r-1 {
  border-radius: 1px; }

.b-r-2 {
  border-radius: 2px; }

.b-r-3 {
  border-radius: 3px; }

.b-r-4 {
  border-radius: 4px; }

.b-r-5 {
  border-radius: 5px; }

.cssload-thecube {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 49px;
  position: relative;
  top: 100px;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg); }

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1); }

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #faa019;
  animation: cssload-fold-thecube 2s infinite linear both;
  -o-animation: cssload-fold-thecube 2s infinite linear both;
  -ms-animation: cssload-fold-thecube 2s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2s infinite linear both;
  -moz-animation: cssload-fold-thecube 2s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%; }

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg); }

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg); }

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg); }

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.285s;
  -o-animation-delay: 0.285s;
  -ms-animation-delay: 0.285s;
  -webkit-animation-delay: 0.285s;
  -moz-animation-delay: 0.285s; }

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.57s;
  -o-animation-delay: 0.57s;
  -ms-animation-delay: 0.57s;
  -webkit-animation-delay: 0.57s;
  -moz-animation-delay: 0.57s; }

.cssload-thecube .cssload-c4:before {
  animation-delay: 0.855s;
  -o-animation-delay: 0.855s;
  -ms-animation-delay: 0.855s;
  -webkit-animation-delay: 0.855s;
  -moz-animation-delay: 0.855s; }

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%,
  75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%,
  100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

.cmtyx_color_1 {
  background-color: #ca1d1d; }

.cmtyx_color_2 {
  background-color: #ca1d2b; }

.cmtyx_color_3 {
  background-color: #e33320; }

.cmtyx_color_4 {
  background-color: #faa019; }

.cmtyx_color_5 {
  background-color: #f05d13; }

.cmtyx_color_6 {
  background-color: #ef7112; }

.cmtyx_color_7 {
  background-color: #ca1d3a; }

.cmtyx_color_8 {
  background-color: #e34a20; }

.cmtyx_color_9 {
  background-color: #e32020; }

.cmtyx_text_color_1 {
  color: #ca1d1d; }

.cmtyx_text_color_2 {
  color: #ca1d2b; }

.cmtyx_text_color_3 {
  color: #e33320; }

.cmtyx_text_color_4 {
  color: #faa019; }

.cmtyx_text_color_5 {
  color: #f05d13; }

.cmtyx_text_color_6 {
  color: #ef7112; }

.cmtyx_text_color_7 {
  color: #ca1d3a; }

.cmtyx_text_color_8 {
  color: #e34a20; }

.cmtyx_text_color_9 {
  color: #e32020; }

.cmtyx_border_color_1 {
  border-color: #ca1d1d; }

.cmtyx_border_color_2 {
  border-color: #ca1d2b; }

.cmtyx_border_color_3 {
  border-color: #e33320; }

.cmtyx_border_color_4 {
  border-color: #faa019; }

.cmtyx_border_color_5 {
  border-color: #f05d13; }

.cmtyx_border_color_6 {
  border-color: #ef7112; }

.cmtyx_border_color_7 {
  border-color: #ca1d3a; }

.cmtyx_border_color_8 {
  border-color: #e32020; }

.cmtyx_border_color_9 {
  border-color: #e32020; }

.breaking_news {
  background-color: #ca1d1d;
  padding: 10px;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.cmtyx_desktop_application.grid-container {
  min-height: 1000px; }

.cmtyx_desktop_application .grid {
  margin: 0 3%;
  padding: 3% 0 3% 0;
  display: none;
  /* clearfix */
  /***** PROMOTION *****/
  /***** END OF PROMOTION *****/
  /***** MENU *****/
  /***** END OF MENU *****/
  /***** CART *****/
  /***** END OF CART *****/
  /***** WELCOME *****/
  /***** END OF WELCOME *****/
  /***** PROMOCODES *****/
  /***** END OF PROMOCODES *****/
  /***** EVENTS *****/
  /***** END OF EVENTS *****/
  /***** SALE *****/
  /***** END OF SALE *****/
  /***** POLL *****/
  /***** END OF POLL *****/
  /***** GALLERY *****/
  /***** END OF GALLERY *****/
  /***** VIDEO *****/
  /***** END OF VIDEO *****/
  /***** ABOUT US *****/
  /***** END OF ABOUT US *****/
  /***** REVIEWS *****/
  /***** END OF REVIEWS *****/ }
  .cmtyx_desktop_application .grid:after {
    content: '';
    display: block;
    clear: both; }
  .cmtyx_desktop_application .grid .gutter-sizer {
    width: 2%; }
  .cmtyx_desktop_application .grid .grid-sizer {
    width: 32%; }
  .cmtyx_desktop_application .grid .grid-item {
    width: 32%;
    float: left;
    background-color: #464646;
    border-radius: 0 0 3px 3px;
    margin-bottom: 1%; }
    .cmtyx_desktop_application .grid .grid-item > .header {
      padding: 24px 18px;
      cursor: pointer; }
      .cmtyx_desktop_application .grid .grid-item > .header .title {
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }
    .cmtyx_desktop_application .grid .grid-item .body {
      padding: 20px; }
  .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body {
    padding: 0; }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body img.promotion-image {
      width: 100%;
      background-image: url(f499ca438e441d9e045d63c57d8e0544.png); }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns {
      height: 50px; }
      .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns .left-block,
      .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns .right-block {
        height: 50px;
        width: 49%;
        display: inline-block;
        color: white;
        font-size: 14px;
        font-weight: 500;
        position: relative; }
      .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns .left-block {
        text-align: right;
        padding: 0 10px 0 0; }
      .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns .right-block {
        text-align: left;
        padding: 0 0 0 10px; }
      .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns img {
        margin-right: 10px; }
      .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns span {
        line-height: 50px;
        cursor: pointer; }
        .cmtyx_desktop_application .grid .grid-item.cmtyx_promotion_block .body .promotion-btns span:hover {
          color: #faa019; }
  .cmtyx_desktop_application .grid .cmtyx_menu_block {
    width: 66%; }
    .cmtyx_desktop_application .grid .cmtyx_menu_block .body {
      padding: 0;
      height: 570px; }
      .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container {
        padding: 25px 20px 0 20px; }
        .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container .title {
          color: white;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 25px; }
        .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container ul.days_list {
          margin: 0;
          padding: 0; }
          .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container ul.days_list li.day {
            border: solid 1px #757575;
            padding: 10px;
            cursor: pointer;
            color: #ddd;
            margin-bottom: 5px;
            position: relative; }
            .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container ul.days_list li.day .day_name {
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 10px;
              text-transform: uppercase; }
            .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container ul.days_list li.day .day_description {
              font-size: 12px;
              font-weight: 400; }
            .cmtyx_desktop_application .grid .cmtyx_menu_block .body .catalog_main_container ul.days_list li.day img {
              position: absolute;
              top: 24px;
              right: 15px; }
      .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabs {
        float: left;
        background-color: #323232;
        width: 20%;
        height: 100%; }
        .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabs button {
          display: block;
          background-color: inherit;
          padding: 22px 16px;
          width: 100%;
          border: none;
          border-bottom: solid 1px #464646;
          outline: none;
          text-align: left;
          cursor: pointer;
          transition: 0.3s;
          color: #ddd;
          font-size: 18px;
          font-weight: 400; }
          .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabs button:hover, .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabs button.active {
            background-color: #464646;
            color: white; }
      .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent {
        float: left;
        width: 80%;
        height: 100%; }
        .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .header {
          height: 63px;
          padding: 15px 30px 15px 25px;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .header .back_to_catalog_btn {
            display: inline-block;
            cursor: pointer; }
            .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .header .back_to_catalog_btn img {
              margin-right: 8px;
              position: relative;
              top: 2px; }
            .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .header .back_to_catalog_btn span {
              color: #ddd;
              font-size: 14px;
              font-weight: 400; }
        .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container {
          padding: 0 20px 0 25px;
          height: calc(100% - 63px);
          overflow-y: scroll; }
          .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog {
            margin: 0;
            padding: 0; }
            .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item {
              display: flex;
              padding: 10px 0 15px 0;
              border-bottom: solid 1px #757575; }
              .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item:last-child {
                border-bottom: none; }
              .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .left_block {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between; }
                .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .left_block .item_title {
                  display: inline-block;
                  color: #ddd;
                  font-size: 18px;
                  font-weight: 700;
                  text-transform: uppercase;
                  margin-bottom: 10px; }
                .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .left_block .item_description {
                  color: #ddd;
                  font-size: 12px;
                  font-weight: 400;
                  margin-bottom: 15px; }
                .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .left_block .customize_btn {
                  background-color: #faa019;
                  color: white;
                  padding: 10px;
                  font-size: 12px;
                  font-weight: 700;
                  border: none;
                  text-transform: uppercase;
                  cursor: pointer; }
              .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block {
                width: 20%;
                text-align: right; }
                .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container {
                  display: inline-block;
                  width: 89px;
                  height: 30px;
                  margin-bottom: 10px; }
                  .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container .block {
                    display: inline-flex;
                    width: 27px;
                    height: 100%;
                    justify-content: center;
                    align-items: center; }
                    .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container .block.number {
                      background-color: #ddd;
                      color: #464646;
                      font-size: 14px;
                      font-weight: 400; }
                    .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container .block.minus, .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container .block.plus {
                      border: solid 1px #7e7e7e;
                      cursor: pointer;
                      color: #ddd; }
                    .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container .block.minus {
                      margin-right: -4px; }
                    .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .quantity_container .block.plus {
                      margin-left: -4px; }
                .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .add_to_cart_btn {
                  background-color: #faa019;
                  color: white;
                  padding: 10px;
                  font-size: 12px;
                  font-weight: 700;
                  border: none;
                  text-transform: uppercase;
                  margin-bottom: 15px;
                  cursor: pointer; }
                .cmtyx_desktop_application .grid .cmtyx_menu_block .body .tabcontent .catalog-container ul.cmtyx_catalog li.catalog_item .right_block .item_price {
                  color: #ddd;
                  font-size: 16px;
                  font-weight: 400; }
      .cmtyx_desktop_application .grid .cmtyx_menu_block .body .text {
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 20px;
        display: inline-block;
        width: 70%; }
      .cmtyx_desktop_application .grid .cmtyx_menu_block .body .open_menu_btn {
        border: 1px solid;
        border-radius: 5px;
        background-color: transparent;
        padding: 15px 0;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        outline: none;
        cursor: pointer; }
        .cmtyx_desktop_application .grid .cmtyx_menu_block .body .open_menu_btn:hover {
          border-color: #faa019;
          background-color: #faa019;
          color: white; }
      .cmtyx_desktop_application .grid .cmtyx_menu_block .body .menu_pic {
        width: 100%; }
  .cmtyx_desktop_application .grid .cmtyx_cart_block .body {
    height: 570px;
    padding: 25px 20px 20px 20px; }
    .cmtyx_desktop_application .grid .cmtyx_cart_block .body .title {
      font-size: 18px;
      font-weight: 400;
      color: white; }
    .cmtyx_desktop_application .grid .cmtyx_cart_block .body .order_btn {
      width: 100%;
      padding: 15px 0;
      text-align: center;
      border: none;
      background-color: #faa019;
      color: white;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer; }
  .cmtyx_desktop_application .grid .cmtyx_welcome_block {
    background-color: #202020; }
    .cmtyx_desktop_application .grid .cmtyx_welcome_block .body {
      padding: 0;
      text-align: center;
      background-color: #202020; }
      .cmtyx_desktop_application .grid .cmtyx_welcome_block .body .title {
        color: white;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 75px;
        margin-bottom: 40px; }
      .cmtyx_desktop_application .grid .cmtyx_welcome_block .body .undertitle {
        display: block;
        color: white;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 270px; }
      .cmtyx_desktop_application .grid .cmtyx_welcome_block .body .open_label {
        display: inline-block;
        background-color: #00a651;
        border-radius: 2px;
        padding: 12px 52px;
        color: white;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px; }
      .cmtyx_desktop_application .grid .cmtyx_welcome_block .body .business_hours {
        color: #e7e7e7;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 55px; }
  .cmtyx_desktop_application .grid .grid-item.cmtyx_promocodes_block .discount-item-container {
    position: relative; }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_promocodes_block .discount-item-container img {
      width: 100%; }
  .cmtyx_desktop_application .grid .grid-item.cmtyx_promocodes_block .discount-item-info {
    position: absolute;
    top: 35px;
    left: 25px; }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_promocodes_block .discount-item-info .discount-item-title {
      color: #e34a20;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_promocodes_block .discount-item-info .discount-item-text {
      color: #414141;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px; }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_promocodes_block .discount-item-info .discount-item-date {
      opacity: 0.7;
      color: #414141;
      font-size: 11px;
      font-weight: 500; }
  .cmtyx_desktop_application .grid .cmtyx_events_block .body > img {
    width: 100%;
    margin-bottom: 10px; }
  .cmtyx_desktop_application .grid .cmtyx_events_block .body table {
    border-collapse: collapse;
    width: 100%; }
    .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr {
      padding: 15px 0;
      border-bottom: solid 1px #636363; }
      .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr.last {
        border: none; }
      .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr td {
        border: none;
        padding-bottom: 15px;
        padding-top: 15px; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr td.first {
          padding-top: 0px; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr td.last {
          padding-bottom: 0px; }
      .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_date {
        vertical-align: top;
        padding-left: 0; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_date .event_day {
          display: block;
          font-weight: 700;
          font-size: 25px;
          color: #ddd; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_date .event_month {
          display: block;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #ddd;
          text-transform: uppercase; }
      .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_info {
        padding-right: 0;
        padding-left: 10px; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_info .event_title {
          display: block;
          font-weight: 700;
          font-size: 14px;
          line-height: 19px;
          color: #ddd;
          text-transform: uppercase; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_info .event_text,
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_info .event_time {
          display: block;
          font-weight: 300;
          font-size: 12px;
          line-height: 19px;
          color: #ddd; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .event_info .event_time {
          color: #818181; }
      .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .add_to_calendar_btn_container {
        vertical-align: top;
        padding-right: 0; }
        .cmtyx_desktop_application .grid .cmtyx_events_block .body table tr .add_to_calendar_btn_container .add_to_calendar_btn {
          display: block;
          width: 40px;
          height: 40px;
          background: url(225fe73539bb0c1cc2ec3d28f5e1dbea.png);
          cursor: pointer; }
  .cmtyx_desktop_application .grid .cmtyx_sale_block .sale-item-container {
    position: relative; }
    .cmtyx_desktop_application .grid .cmtyx_sale_block .sale-item-container img.sale-item {
      width: 100%; }
    .cmtyx_desktop_application .grid .cmtyx_sale_block .sale-item-container button {
      color: #ececec;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      opacity: 0.8;
      background-color: #363636;
      border-radius: 5px;
      padding: 20px 25px;
      margin: 10px 0 0 10px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      border: none; }
  .cmtyx_desktop_application .grid .cmtyx_poll_block .body > img {
    width: 100%;
    margin-bottom: 10px; }
  .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #ececec; }
  .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_ans_form {
    display: block;
    margin-bottom: 20px; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_ans_form input {
      outline: none;
      cursor: pointer; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_ans_form label {
      font-weight: 500;
      font-size: 16px;
      color: #ececec;
      position: relative;
      bottom: 1px;
      cursor: pointer; }
      .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_ans_form label .answer_color_container {
        display: inline-block;
        float: right;
        width: 27px;
        height: 22px;
        position: relative;
        bottom: 3px; }
        .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_ans_form label .answer_color_container.answer_color_1 {
          background-color: #faa019; }
        .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_ans_form label .answer_color_container.answer_color_2 {
          background-color: #ef7112; }
  .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results {
    margin-bottom: 30px; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .a_ans_graph {
      display: inline-block;
      width: 85%;
      height: 22px;
      margin-bottom: 10px;
      margin-right: 10px; }
      .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .a_ans_graph.answer_color_1 {
        background-color: #faa019; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .b_ans_graph {
      display: inline-block;
      width: 15%;
      height: 22px;
      margin-right: 10px; }
      .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .b_ans_graph.answer_color_2 {
        background-color: #ef7112; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .a_ans_percent_num,
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .b_ans_percent_num {
      display: inline-block;
      font-weight: 400;
      font-size: 18px;
      color: #ececec;
      position: relative;
      bottom: 14px; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body .question_results .b_ans_percent_num {
      bottom: 4px; }
  .cmtyx_desktop_application .grid .cmtyx_poll_block .body .prizes_title {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #ececec;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul {
    list-style-type: none;
    padding: 0; }
    .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block {
      width: 100%;
      min-height: 112px;
      margin-bottom: 10px; }
      .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container {
        background-color: white; }
        .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .discount_text_block {
          text-align: left;
          padding: 25px 0 25px 25px;
          display: inline-block;
          width: 50%; }
          .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .discount_text_block .discount_text {
            display: block;
            font-weight: 500;
            font-size: 14px;
            color: #e34a20;
            text-transform: uppercase;
            margin-bottom: 10px; }
          .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .discount_text_block .discount_condition {
            display: block;
            font-weight: 500;
            font-size: 14px;
            color: #414141;
            margin-bottom: 8px; }
          .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .discount_text_block .discount_date {
            display: block;
            font-weight: 500;
            font-size: 11px;
            color: #ddd; }
        .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .prize-picture-container {
          display: inline-block;
          width: 48%;
          vertical-align: top;
          height: 113px;
          float: right;
          background-size: 90% 90%;
          background-position: center;
          background-repeat: no-repeat; }
          .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .prize-picture-container.pic1 {
            background-image: url(ae7bd37ca3c5d2d011d35f2510a2c464.png); }
          .cmtyx_desktop_application .grid .cmtyx_poll_block .body ul .discount_block .discount_container .prize-picture-container.pic2 {
            background-image: url(dea5b7242dc934e24d2729aba8a6204c.png); }
  .cmtyx_desktop_application .grid .cmtyx_gallery_block .body {
    padding: 0;
    height: 380px; }
    .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide {
      height: 380px; }
      .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide.slide1 {
        background: url(18a617ca85f9979e923a026139fe22f2.png);
        background-repeat: no-repeat;
        background-size: cover; }
      .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide.slide2 {
        background: url(2f95758ba25c3d1fdadb07d3b8f8aa2b.png);
        background-repeat: no-repeat;
        background-size: cover; }
      .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide.slide3 {
        background: url(b7a3c701d4b536e0a20c0e4e3e99900f.png);
        background-repeat: no-repeat;
        background-size: cover; }
      .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide .slide_description {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 20px;
        background-color: #323232;
        opacity: 0.8; }
        .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide .slide_description .slide_title {
          display: block;
          font-weight: 400;
          font-size: 18px;
          color: white;
          margin-bottom: 10px; }
        .cmtyx_desktop_application .grid .cmtyx_gallery_block .body .gallery .slide .slide_description .slide_undertitle {
          display: block;
          font-weight: 300;
          font-size: 12px;
          color: white; }
  .cmtyx_desktop_application .grid .grid-item.cmtyx_video_block .body {
    padding: 0;
    position: relative;
    height: 380px; }
    .cmtyx_desktop_application .grid .grid-item.cmtyx_video_block .body .video-container {
      height: 0;
      overflow: hidden; }
      .cmtyx_desktop_application .grid .grid-item.cmtyx_video_block .body .video-container iframe,
      .cmtyx_desktop_application .grid .grid-item.cmtyx_video_block .body .video-container object,
      .cmtyx_desktop_application .grid .grid-item.cmtyx_video_block .body .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-text {
    color: #ececec;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 25px; }
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-address,
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-phone {
    color: #ececec;
    font-size: 12px;
    font-weight: 400; }
    .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-address img,
    .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-phone img {
      margin-right: 10px;
      position: relative;
      top: 3px; }
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-address {
    margin-bottom: 15px; }
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-phone {
    margin-bottom: 30px; }
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .about-business-hours {
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px; }
  .cmtyx_desktop_application .grid .cmtyx_about_us .body .map-img {
    width: 100%; }
  .cmtyx_desktop_application .grid .cmtyx_reviews_block .body {
    min-height: auto; }
    .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review {
      margin-bottom: 20px; }
      .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td {
        border-bottom: none;
        padding-top: 0;
        padding-right: 0; }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.user_avatar {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: url(5db125c77fdda33ac6ee7202ef05ff7a.png) no-repeat;
          vertical-align: top; }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section {
          padding-left: 15px; }
          .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .name_date_block {
            margin-bottom: 10px; }
            .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .name_date_block .user_name {
              display: inline-block;
              font-weight: 400;
              font-size: 16px;
              margin-right: 30px;
              color: #fafafa; }
            .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .name_date_block .date {
              display: inline-block;
              font-weight: 300;
              font-size: 12px;
              float: right;
              position: relative;
              top: 3px;
              color: #fafafa; }
          .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .rating_block {
            margin-bottom: 10px;
            margin-left: -7px; }
            .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .rating_block .my-rating {
              display: inline-block;
              margin-right: -7px; }
            .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .rating_block .rating_number {
              display: inline-block;
              font-weight: 300;
              font-size: 12px;
              color: #efcd49;
              margin-left: 20px;
              position: relative;
              bottom: 6px; }
          .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .review table tr td.review_section .text_block {
            font-weight: 300;
            font-size: 12px;
            line-height: 17px;
            color: #ddd; }
    .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block {
      text-align: center; }
      .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_avatars_container .avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: -20px;
        background-size: cover;
        background-repeat: no-repeat; }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_avatars_container .avatar.avatar1 {
          background: url(f4decf2bdcb9cd1fe71d1d76648bdda4.png);
          margin-left: 0; }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_avatars_container .avatar.avatar2 {
          background: url(8f41f16b9f395ef01e2405a6a630a929.png); }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_avatars_container .avatar.avatar3 {
          background: url(c21fde2a958c2898e7693883aeb19aea.png); }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_avatars_container .avatar.avatar4 {
          background: url(b33ef13011937fa95ba3c4ef6666fbea.png); }
        .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_avatars_container .avatar.avatar5 {
          background: url(8f41f16b9f395ef01e2405a6a630a929.png); }
      .cmtyx_desktop_application .grid .cmtyx_reviews_block .body .show_more_block .show_more_reviews_btn {
        display: inline-block;
        font: 400;
        font-size: 10px;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 30px; }

header {
  height: 70px;
  background-color: #252525;
  padding: 15px 50px 15px 45px; }
  header .logo-container {
    display: inline-block; }
    header .logo-container .logo {
      position: relative;
      top: 5px;
      cursor: pointer; }
  header .links-conatiner {
    display: inline-block;
    list-style-type: none;
    float: right;
    position: relative;
    bottom: 15px;
    margin: 11px 0 0 0; }
    header .links-conatiner .link {
      display: inline-block;
      color: white;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 30px;
      cursor: pointer; }
      header .links-conatiner .link:hover {
        color: #faa019; }
      header .links-conatiner .link.last {
        font-weight: 700;
        color: #faa019;
        border: 1px solid #faa019;
        border-radius: 5px;
        padding: 15px 25px; }
        header .links-conatiner .link.last:hover {
          background-color: #faa019;
          color: white; }

footer {
  border-top: solid 3px #616161;
  padding: 50px 0 40px 45px; }
  footer > div {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%; }
  footer .rights-block .logo {
    margin-bottom: 25px; }
  footer .rights-block p {
    color: gainsboro;
    font-size: 14px;
    font-weight: 14px;
    margin: 0 0 15px 0; }
  footer .title {
    color: #f8f1eb;
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0 33px 0; }
  footer .text {
    color: gainsboro;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 15px 0; }
  footer .share-block {
    margin-right: 0; }
    footer .share-block .link {
      display: inline-block;
      margin: 0 35px 10px 0;
      color: gainsboro;
      font-size: 14px;
      font-weight: 400;
      min-width: 90px;
      cursor: pointer; }
      footer .share-block .link:hover {
        color: #faa019; }
      footer .share-block .link img {
        margin-right: 10px; }
