@import url('https://fonts.googleapis.com/css?family=Roboto');

* { box-sizing: border-box; }

body { background-color: #363636; }

/***** HEADER *****/
header {
	height: 70px;
	background-color: #252525;
	padding: 15px 50px 15px 45px;
}

header .logo-container { display: inline-block; }

header .logo-container .logo {
	position: relative;
	top: 5px;
	cursor: pointer;
}

header .links-conatiner { 
	display: inline-block; 
	list-style-type: none;
	float: right;
	position: relative;
	bottom: 15px;
	margin: 11px 0 0 0;
}

header .links-conatiner .link { 
	display: inline-block; 
	color: white;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-left: 30px;
	cursor: pointer;
}

header .links-conatiner .link:hover { color: #faa019; }

header .links-conatiner .link.last { 
	color: #faa019;
	font-weight: 700;
	border: 1px solid #faa019;
	border-radius: 5px;
	padding: 15px 25px;
}

header .links-conatiner .link.last:hover {
	background-color: #faa019;
	color: white;
}
/***** END OF HEADER *****/

/***** WELCOME *****/
.breaking_news {
	background-color: #ca1d1d;
	padding: 10px;
	color: white;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.cmtyx_welcome_block {
	background-size: cover;
    text-align: center;
    background-image: url('../images/welcome_block.png');
    padding: 6% 0 4% 0;
}

.cmtyx_welcome_block .title {
	color: white;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.cmtyx_welcome_block .undertitle {
	color: white;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 30px;
}

.cmtyx_welcome_block .business_hours {
	color: #e7e7e7;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.cmtyx_welcome_block .open_label {
	display: inline-block;
	background-color: #00a651;
	border-radius: 2px;
	padding: 12px 52px;
	color: #e7e7e7;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}
/***** END OF WELCOME *****/


/***** GRID *****/
.grid-container { min-height: 1000px; }

.grid {
	margin: 0 3%;
	padding: 3% 0 3% 0;
	display: none;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* grid-item */
.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item {
  float: left;
  background-color: #464646;
  border-radius: 0 0 3px 3px;
  margin-bottom: 1%;
}

.grid-item .header { 
	padding: 24px 18px;
	cursor: pointer; 
}

.grid-item .header .title {
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.grid-item .header .title .collapse_btn {
	background-image: url('../images/arrow_btn.png');
	width: 8px;
    height: 5px;
    background-size: cover;
    float: right;
    position: relative;
    top: 5px;
}

.grid-item-body { 
	padding: 20px;
}

.grid-item--width2 { width:  66%; }

.grid-item--height2 .grid-item-body { height: auto; }
.grid-item--height3 .grid-item-body { height: auto; }

.gutter-sizer { width: 2%; }
/***** END OF GRID *****/

/***** PROMOTION *****/
.grid-item.cmtyx_promotion_block .grid-item-body {
	padding: 0; 
}

.grid-item.cmtyx_promotion_block .promotion-container {
}

.grid-item.cmtyx_promotion_block img.promotion-image {
	width: 100%;
	background-image: url('../images/dog.png');
}

.grid-item.cmtyx_promotion_block .promotion-btns { height: 50px; }

.grid-item.cmtyx_promotion_block .promotion-btns .left-block,
.grid-item.cmtyx_promotion_block .promotion-btns .right-block {
	height: 50px;
	width: 49%;
	display: inline-block;
	color: white;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	position: relative;
}

.grid-item.cmtyx_promotion_block .promotion-btns .left-block {
	text-align: right;
	padding: 0 10px 0 0;
}

.grid-item.cmtyx_promotion_block .promotion-btns .right-block {
	text-align: left;
	padding: 0 0 0 10px;
}

.grid-item.cmtyx_promotion_block .promotion-btns img { margin-right: 10px; }

.grid-item.cmtyx_promotion_block .promotion-btns span {
	line-height: 50px;
	cursor: pointer;
}

.grid-item.cmtyx_promotion_block .promotion-btns span:hover { color: #faa019; }
/***** END OF PROMOTION *****/

/***** MENU *****/
.cmtyx_menu_block .grid-item-body {
	text-align: center;
}

.cmtyx_menu_block .text {
	color: white;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 20px;
	display: inline-block;
    width: 70%;
}

.cmtyx_menu_block .open_menu_btn {
	border: 1px solid;
	border-radius: 5px;
	background-color: transparent;
	padding: 15px 0;
    width: 100%;
	/* color: #faa019; */
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	outline: none;
	cursor: pointer;
}

.cmtyx_menu_block .open_menu_btn:hover {
	border-color: #faa019;
	background-color: #faa019;
	color: white;
}

.cmtyx_menu_block .menu_pic { width: 100%; }
/***** END OF MENU *****/

/***** PROMOCODES *****/
.grid-item.cmtyx_promocodes_block .discount-item-container { position: relative; }

.grid-item.cmtyx_promocodes_block .discount-item-container img { width: 100%; }

.grid-item.cmtyx_promocodes_block .discount-item-info {
	position: absolute;
	top: 35px;
	left: 25px;
}

.grid-item.cmtyx_promocodes_block .discount-item-info .discount-item-title {
	color: #e34a20;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.grid-item.cmtyx_promocodes_block .discount-item-info .discount-item-text {
	color: #414141;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
}

.grid-item.cmtyx_promocodes_block .discount-item-info .discount-item-date {
	opacity: 0.7;
	color: #414141;
	font-family: Roboto;
	font-size: 11px;
	font-weight: 500;
}
/***** END OF PROMOCODES *****/

/***** EVENTS *****/
.cmtyx_events_block .grid-item-body > img {
    width: 100%;
    margin-bottom: 10px;
}

.cmtyx_events_block table {
    border-collapse: collapse;
    width: 100%;
}

.cmtyx_events_block tr {
    padding: 15px 0;
    border-bottom: solid 1px #636363;
}

.cmtyx_events_block tr.last { border: none; }

.cmtyx_events_block td {
    border: none;
    padding-bottom: 15px;
    padding-top: 15px;
}

.cmtyx_events_block td.first { padding-top: 0px; }

.cmtyx_events_block td.last { padding-bottom: 0px; }

.cmtyx_events_block .event_date {
    vertical-align: top;
    padding-left: 0;
}

.cmtyx_events_block .event_day {
    display: block;
    font: 700 25px Roboto;
    color: #dddddd;
}

.cmtyx_events_block .event_month {
    display: block;
    font: 400 14px / 20px Roboto;
    color: #dddddd;
    text-transform: uppercase;
}

.cmtyx_events_block .event_info {
    padding-right: 0;
    padding-left: 10px;
}

.cmtyx_events_block .event_title {
    display: block;
    font: 700 14px / 19px Roboto;
    color: #dddddd;
    text-transform: uppercase;
}

.cmtyx_events_block .event_time {
    display: block;
    font: 300 12px / 19px Roboto;
    color: rgba(221, 221, 221, 0.5);
}

.cmtyx_events_block .event_text {
    display: block;
    font: 300 12px / 19px Roboto;
    color: #dddddd;
}

.cmtyx_events_block .add_to_calendar_btn_container {
    vertical-align: top;
    padding-right: 0;
}

.cmtyx_events_block .add_to_calendar_btn {
    display: block;
    width: 40px;
    height: 40px;
    background: url('../images/280-Appointment_calendar_date_month_planner_reminder_schedule_add_plus-256.png');
    cursor: pointer;
}
/***** END OF EVENTS *****/

/***** SALE *****/
.cmtyx_sale_block .sale-item-container { position: relative; }

.cmtyx_sale_block .sale-item-container img.sale-item { width: 100%; }

.cmtyx_sale_block .sale-item-container button {
	color: #ececec;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #ca1d2b;
	border: solid 1px #ca1d2b;
	padding: 20px 25px;
	margin:  10px 0 0 10px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
}

.cmtyx_sale_block .sale-item-container button:hover {
	background-color: #ececec;
	color: #ca1d2b;
	border: solid 1px #ca1d2b;
}
/***** END OF SALE *****/

/***** POLL *****/
.cmtyx_poll_block .grid-item-body > img {
	width: 100%;
	margin-bottom: 10px;
}

.cmtyx_poll_block ul {
	list-style-type: none;
	padding: 0;
}

.cmtyx_poll_block .question {
    display: block;
    margin-bottom: 20px;
    font: 400 18px Roboto;
    color: #ececec;
}

.cmtyx_poll_block .question_ans_form {
    display: block;
    margin-bottom: 20px;
}

.cmtyx_poll_block input {
    outline: none;
    cursor: pointer;
}

.cmtyx_poll_block label {
    font: 600 15px Roboto;
    color: #ececec;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}

.cmtyx_poll_block .answer_color_container {
    display: inline-block;
    float: right;
    width: 27px;
    height: 22px;
    position: relative;
    bottom: 3px;
}

.cmtyx_poll_block .answer_color_1 { background-color: #faa019; }

.cmtyx_poll_block .answer_color_2 { background-color: #ef7112; }

.cmtyx_poll_block .question_results { margin-bottom: 30px; }

.cmtyx_poll_block .a_ans_graph {
    display: inline-block;
    width: 85%;
    height: 22px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.cmtyx_poll_block .b_ans_graph {
    display: inline-block;
    width: 15%;
    height: 22px;
    margin-right: 10px;
}

.cmtyx_poll_block .a_ans_percent_num {
    display: inline-block;
    font: 400 18px Roboto;
    color: #ececec;
    position: relative;
    bottom: 14px;
}

.cmtyx_poll_block .b_ans_percent_num {
    display: inline-block;
    font: 400 18px Roboto;
    color: #ececec;
    position: relative;
    bottom: 4px;
}

.cmtyx_poll_block .prizes_title {
    text-align: center;
    font: 400 12px Roboto;
    color: #ececec;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cmtyx_poll_block .grid-item-body .discount_block {
    width: 100%;
    min-height: 112px;
    margin-bottom: 10px;
}

.cmtyx_poll_block .grid-item-body .discount_container { background-color: #fff; }

.cmtyx_poll_block .grid-item-body .discount_block .discount_text_block {
    text-align: left;
    padding: 25px 0 25px 25px;
    display: inline-block;
    width: 50%;
}

.discount_block .discount_text_block .discount_text {
    display: block;
    font: 500 14px Roboto;
    color: #e34a20;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.discount_block .discount_text_block .discount_condition {
    display: block;
    font: 500 14px Roboto;
    color: #414141;
    margin-bottom: 8px;
}

.discount_block .discount_text_block .discount_date {
    display: block;
    font: 500 11px Roboto;
    color: rgba(65, 65, 65, 0.7);
}

.discount_block .prize-picture-container {
	display: inline-block;
    width: 48%;
    vertical-align: top;
    height: 113px;
    float: right;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.discount_block .prize-picture-container.pic1 { background-image: url('../images/discount_coffee.png') }

.discount_block .prize-picture-container.pic2 { background-image: url('../images/discount_burger.png') }
/***** END OF POLL *****/

/***** GALLERY *****/
.cmtyx_gallery_block .grid-item-body {
	padding: 0;
	height: 380px;
}

.cmtyx_gallery_block .gallery .slide { height: 380px; }

.cmtyx_gallery_block .gallery .slide1 {
    background: url(../images/pic.png) no-repeat;
    background-size: cover;
}

.cmtyx_gallery_block .gallery .slide2 {
    background: url(../images/14593877-Conceptual-making-of-burger-Stock-Photo.png) no-repeat;
    background-size: cover;
}

.cmtyx_gallery_block .gallery .slide3 {
    background: url(../images/1006p120-eggs-barbacoa_0.png) no-repeat;
    background-size: cover;
}

.cmtyx_gallery_block .slide_description {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:  15px 20px;
    background-color: rgba(54, 54, 54, 0.8);
}

.cmtyx_gallery_block .slide_title {
    display: block; 
    font: 400 18px Roboto;
    color: #fff;
    margin-bottom: 10px;
}

.cmtyx_gallery_block .slide_undertitle {
    display: block;
    font: 300 12px Roboto;
    color: #fff;
}
/***** END OF GALLERY *****/

/***** VIDEO *****/
.grid-item.cmtyx_video_block .grid-item-body {
	padding: 0;
	position: relative;
	height: 380px;
}

.grid-item.cmtyx_video_block .video-container {
	height:0;
	overflow:hidden;
}

.cmtyx_video_block .video-container iframe, 
.cmtyx_video_block .video-container object, 
.cmtyx_video_block .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/***** END OF VIDEO *****/

/***** ABOUT US *****/
.cmtyx_about_us .about-text {
	color: #ececec;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
	line-height: 17px;
	margin-bottom: 25px;
}

.cmtyx_about_us .about-address,
.cmtyx_about_us .about-phone {
	color: #ececec;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 400;
}

.cmtyx_about_us .about-address img,
.cmtyx_about_us .about-phone img {
	margin-right: 10px;
	position: relative;
	top: 3px;
}

.cmtyx_about_us .about-address { margin-bottom: 15px; }

.cmtyx_about_us .about-phone { margin-bottom: 30px; }

.cmtyx_about_us .about-business-hours {
	color: #e7e7e7;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
}

.cmtyx_about_us .map-img { width: 100%; }
/***** END OF ABOUT US *****/

/***** REVIEWS *****/
.cmtyx_reviews_block .grid-item-body { min-height: auto; }

.cmtyx_reviews_block .review { margin-bottom: 20px; }

.cmtyx_reviews_block .review td {
    border-bottom: none;
    padding-top: 0; 
    padding-right: 0;
}

.cmtyx_reviews_block .user_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url('../images/guy-912229_960_720.png') no-repeat;
    vertical-align: top;
}

.cmtyx_reviews_block .review_section { padding-left: 15px; }

.cmtyx_reviews_block .name_date_block,
.cmtyx_reviews_block .rating_block {
    margin-bottom: 10px;
}

.cmtyx_reviews_block .user_name {
    display: inline-block;
    font: 400 16px Roboto;
    margin-right: 30px;
    color: #fafafa;
}

.cmtyx_reviews_block .date {
    display: inline-block;
    font: 300 12px Roboto;
    float: right;
    position: relative;
    top: 3px;
    color: #fafafa;
}

.rating_block { margin-left: -7px; }

.my-rating {
    display: inline-block;
    margin-right: -7px;
}

.rating_number {
    display: inline-block;
    font: 300 12px Roboto;
    color: #efcd49;
    margin-left: 20px;
    position: relative;
    bottom: 6px;
}

.cmtyx_reviews_block .text {
    font: 300 12px / 17px Roboto;
    color: #bdbdbd;
}

.cmtyx_reviews_block .show_more_block { text-align: center; }

.cmtyx_reviews_block .show_more_block .show_more_avatars_container .avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -20px;
}

.cmtyx_reviews_block .show_more_block .show_more_avatars_container .avatar1 {
    background: url('../images/landscape_nrm_1416942794-chris-prat-cover.png') no-repeat;
    background-size: cover;
    margin-left: 0;
}

.cmtyx_reviews_block .show_more_block .show_more_avatars_container .avatar2 {
    background: url('../images/guy-912229_960_720-copy.png') no-repeat;
    background-size: cover;
}

.cmtyx_reviews_block .show_more_block .show_more_avatars_container .avatar3 {
    background: url('../images/girl-03.png') no-repeat;
    background-size: cover;
}

.cmtyx_reviews_block .show_more_block .show_more_avatars_container .avatar4 {
    background: url('../images/images.png') no-repeat;
    background-size: cover;
}

.cmtyx_reviews_block .show_more_block .show_more_avatars_container .avatar5 {
    background: url('../images/guy-912229_960_720-copy.png') no-repeat;
    background-size: cover;
}

.cmtyx_reviews_block .show_more_block .show_more_reviews_btn {
    display: inline-block;
    font: 400 10px Roboto;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
}
/***** END OF REVIEWS *****/

/***** FOOTER *****/
footer {
	border-top: solid 3px #616161;
	padding: 50px 0 40px 45px;
}

footer > div {
	display: inline-block;
	vertical-align: top;
	margin-right: 15%;
}

footer .rights-block .logo { margin-bottom: 25px; }

footer .rights-block p {
	color: gainsboro;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 15px 0;
}

footer .contacts-block .title,
footer .visit-block .title,
footer .share-block .title  {
	color: #f8f1eb;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	margin: 6px 0 33px 0;
}

footer .contacts-block .text,
footer .visit-block .text {
	color: gainsboro;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 15px 0;
}

footer .share-block { margin-right: 0; }

footer .share-block .link { 
	display: inline-block; 
	margin: 0 35px 10px 0;
	color: gainsboro;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	min-width: 90px;
	cursor: pointer;
}

footer .share-block .link:hover { color: #faa019; }

footer .share-block .link img { margin-right: 10px; }
/***** END OF FOOTER *****/