$cmtyx_color_1: #faa019; 
$cmtyx_color_2: #ef7112;
$cmtyx_color_3: #f05d13;
$cmtyx_color_4: #e34a20;

$white: white;

$header-background: #252525;
$body-background: #363636;
$red-news: #ca1d1d;

$welcome-block-text: #e7e7e7;
$welcome-block-background: #202020;
$open-label: #00a651;

$footer-divider: #616161;
$footer-title: #f8f1eb;
$footer-text: gainsboro;

$disabled-tab: #aaa;

$cart-text: #ddd;
$cart-divider: #757575;
$cart-cards: #464646;
$cart-tabs: #323232;
$cart-scroll: #7e7e7e;
$summary-title: #969696;
$day-border: #757575;
$order-btn: #0074D9;

$discount-text: #414141;

$event-divider: #636363;
$event-time: #818181;

$question-text: #ececec;

$review-user-name: #fafafa;
$rating-number: #efcd49;

$warning-messages: #FC0;
$attention-sign: #af0a25;

$href-color: #2ad;
$href-hover-color: #08b;

$error-color: red;

$user-icon: #d1d1d1;
$user-tick: #2ECC40;

$warning: #ffeb3b;