* { box-sizing: border-box; }

body { 
  background-color: $body-background;
  font-family: Roboto; 
}

body::-webkit-scrollbar,
.body::-webkit-scrollbar,
.catalog-container::-webkit-scrollbar,
.tabcontent::-webkit-scrollbar,
.cart_page::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb, 
.body::-webkit-scrollbar-thumb, 
.catalog-container::-webkit-scrollbar-thumb,
.tabcontent::-webkit-scrollbar-thumb,
.cart_page::-webkit-scrollbar-thumb {
  background-color: $cart-scroll;
  border-radius: 2px;
  opacity: 0.5;
}

.owl-carousel {
	.owl-nav {
	    position: absolute;
	    display: flex;
	    justify-content: space-between;
	    top: 0;
	    width: 100%;
	    color: $cart-text;
	}
}
