$size-xss: 9px;
$size-xs: 10px;
$size-small: 11px;
$size-normal-small: 12px;
$size-normal-strong: 13px;
$size-normal: 14px;
$size-lg-normal-small: 16px;
$size-lg-normal: 16px;
$size-sm-medium: 18px;
$size-medium-small: 19px;
$size-medium: 20px;
$size-large: 25px;
$size-title: 32px;

$style-thin: 300;
$style-normal: 400;
$style-normal-strong: 500;
$style-semi-bold: 700;
$style-bold: bold;