div.ui-dialog.ui-widget {
	background-color: $body-background;
	border-radius: 2px;

	&.ui-widget-content {
		border: none;	
	}


	.ui-dialog-titlebar {
		background-color: transparent;
		border: none;
		color: $cart-text;

		.ui-dialog-title {
			display: inline-block;
			margin-top: 10px;
			font-size: $size-medium;
			line-height: 24px;
		}

		button {
			background: transparent;
    		border: none;
    		top: 10px;
		}
	}

	.ui-dialog-content {
		padding-top: 0;
		min-height: auto !important;

		a.forgot_btn {
			color: $href-color;
			outline: none;
			float: right;
			display: inline-block;
    		margin-bottom: 20px;
    		font-size: $size-normal-small;
    		cursor: pointer;

			&:hover {
				color: $href-hover-color;
			}
		}

		.material-textfield {
			width: 100%;
			height: 2em;
			margin-bottom: 15px;
		}

		& > label {
			color: $cart-text;
			font-size: $size-normal;
			display: block;
			margin-top: -10px;
			margin-bottom: 15px;
			cursor: pointer;

			input {
				outline: none;
				margin-right: 5px;
				position: relative;
				top: 1px;
				cursor: pointer;
			}
		}

		button {
			width: 100%;
			border-radius: 2px;
			background-color: transparent;
			border: solid 1px $cart-text;
			color: $cart-text;
			text-transform: uppercase;
			padding: 10px 0;
			font-weight: $style-semi-bold;
			cursor: pointer;
			margin: 10px 0;
		}
	}

	.signin-popup {
		button.signup_btn {
			padding: 5px 0;
			font-size: $size-normal;
		}

		.error {
			color: $error-color;
			margin: -10px 0 20px 0;
		    font-size: $size-normal;

		    &.hidden {
		    	display: none;
		    }
		}

		.new-title {
			text-align: center;
		    font-weight: $style-normal-strong;
		    font-size: $size-normal;
		    margin: 5px 0;
		    color: $cart-text;

		    &:before,
		    &:after {
	    	    content: "";
			    border-bottom: solid 1px $white;
			    width: 18%;
			    display: inline-block;
			    position: relative;
			    top: 7px;
			    float: left;
		    }

		    &:after {
		    	float: right;
		    }
		}

		.login_with_facebook {
		    text-align: center;
		    padding: 0;
		    margin: 0;
		    margin-bottom: 10px;

		    span {
			    background: url('../images/login-with-facebook.png');
			    display: inline-block;
			    width: 180px;
			    height: 40px;
			    background-size: 180px 40px;
			    background-repeat: no-repeat;
			}
		}
	}

	.signup-popup {
		padding-top: 20px;

		.error {
			color: $error-color;
			margin: -15px 0 20px 0;
		    font-size: $size-normal;

		    &.hidden {
		    	display: none;
		    }
		}

		.submit_signup_btn {
			margin-top: 0;
		}
	}

	.forgot-popup {
		padding-top: 20px;

		.error {
			color: $error-color;
			margin: -10px 0 20px 0;
		    font-size: $size-normal;

		    &.hidden {
		    	display: none;
		    }
		}

		.submit_forgot_btn {
			margin-top: 0;
		}
	}

	.signout-popup {
		padding: 20px;
		
		.text {
		    font-size: $size-lg-normal;
		    color: $cart-text;
		    margin-bottom: 10px;
		}

		.btns_container {
			display: flex;
			justify-content: space-between;

			button {
				width: 48%;
				margin-bottom: 0;
			}
		}
	}

	.message-popup {
		padding: 15px 20px 20px 20px;
		color: $cart-text;
		text-align: center;

		.loader {
			border: 4px solid #f3f3f3;
			border-radius: 50%;
			border-top: 4px solid #363636;
			width: 30px;
			height: 30px;
			-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
			margin-bottom: 10px;
			display: inline-block;
		}

		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		button {
			margin: 15px 0 0 0;
		}
	}

	.loader-popup {
		padding: 15px 20px 20px 20px;
		color: $cart-text;
		text-align: center;

		.loader {
			border: 4px solid #f3f3f3;
			border-radius: 50%;
			border-top: 4px solid #363636;
			width: 30px;
			height: 30px;
			-webkit-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
			margin-bottom: 10px;
			display: inline-block;
		}
	}
}