.cmtyx_color_1 { background-color: #4e91fd !important; }
.cmtyx_border_color_1 { border-color: #4e91fd !important; }
.cmtyx_text_color_1 { color: #4e91fd !important; }
.cmtyx_color_2 { background-color: #2c2cff !important; }
.cmtyx_border_color_2 { border-color: #2c2cff !important; }
.cmtyx_text_color_2 { color: #2c2cff !important; }
.cmtyx_color_3 { background-color: #0229bf !important; }
.cmtyx_border_color_3 { border-color: #0229bf !important; }
.cmtyx_text_color_3 { color: #0229bf !important; }
.cmtyx_color_4 { background-color: #00059f !important; }
.cmtyx_border_color_4 { border-color: #00059f !important; }
.cmtyx_text_color_4 { color: #00059f !important; }
