.cmtyx_color_1 { background-color: #4ae54a !important; }
.cmtyx_border_color_1 { border-color: #4ae54a !important; }
.cmtyx_text_color_1 { color: #4ae54a !important; }
.cmtyx_color_2 { background-color: #30cb00 !important; }
.cmtyx_border_color_2 { border-color: #30cb00 !important; }
.cmtyx_text_color_2 { color: #30cb00 !important; }
.cmtyx_color_3 { background-color: #0f9200 !important; }
.cmtyx_border_color_3 { border-color: #0f9200 !important; }
.cmtyx_text_color_3 { color: #0f9200 !important; }
.cmtyx_color_4 { background-color: #006203 !important; }
.cmtyx_border_color_4 { border-color: #006203 !important; }
.cmtyx_text_color_4 { color: #006203 !important; }
