* { box-sizing: border-box; }

body { 
  background-color: $body-background;
  font-family: Roboto; 
}

/*default special colors*/
.cmtyx_special_background_color { background-color: #330000; }
/* .... */