.cmtyx_color_1 { background-color: #faa019 !important; }
.cmtyx_border_color_1 { border-color: #faa019 !important; }
.cmtyx_text_color_1 { color: #faa019 !important; }
.cmtyx_color_2 { background-color: #ef7112 !important; }
.cmtyx_border_color_2 { border-color: #ef7112 !important; }
.cmtyx_text_color_2 { color: #ef7112 !important; }
.cmtyx_color_3 { background-color: #f05d13 !important; }
.cmtyx_border_color_3 { border-color: #f05d13 !important; }
.cmtyx_text_color_3 { color: #f05d13 !important; }
.cmtyx_color_4 { background-color: #e34a20 !important; }
.cmtyx_border_color_4 { border-color: #e34a20 !important; }
.cmtyx_text_color_4 { color: #e34a20 !important; }
.cmtyx_special_icon_color { color: #FFFFFF !important; }
.cmtyx_special_text_color { color: #DDDDDD !important;  }
.cmtyx_special_border_color { border-color: #DDDDDD !important; }
.cmtyx_special_background_color { background-color: #330000 !important; }