<div data-role="page" id="shipping_page">
    <div class="circles_block">
        <div class="circle cmtyx_bgcolor1 cmtyx_brdrcolor1"></div>
        <div class="circle"></div>
        <div class="circle last"></div>
    </div>
    <div class="navigation">
        <div class="left_arr_block nav_back_btn"><span>Back</span></div>
        <div class="page_title">Shipping details</div>
        <div class="right_arr_block nav_next_btn"><span>Next</span></div>
    </div>
    <div data-role="tabs" id="tabs">
        <div id="delivery" class="ui-body-d ui-content">
            <div class="wrapper">
                <div class="material-textfield yellow">
                    <input type="text" id="aptBldgInput" value="<%= deliveryAddress.number %>" required data-role="none" />
                    <label data-content="Apt/Bldg">Apt/Bldg</label>
                </div>
                <div class="material-textfield yellow">
                    <input type="text" id="streetInput" value="<%= deliveryAddress.street %>" required data-role="none" />
                    <label data-content="Street">Street</label>
                </div>
                <div class="material-textfield yellow">
                    <input type="text" id="cityInput" value="<%= deliveryAddress.city %>" required data-role="none" />
                    <label data-content="City">City</label>
                </div>
            </div>
            <div id="pick_up" class="ui-body-d ui-content">
                <div id="shipping_map2" class="map_container"></div>
            </div>
        </div>
    </div>
    <div class="ui-grid-a back_next_btns">
        <div class="ui-block-a p-r-10">
            <button class="ui-btn ui-corner-all back_btn nav_back_btn cmtyx_color1 cmtyx_brdrcolor1">Back</button>
        </div>
        <div class="ui-block-b p-l-10">
            <button class="ui-btn ui-corner-all next_btn nav_next_btn cmtyx_bgcolor1 cmtyx_brdrcolor1">Next</button>
        </div>
    </div>
</div>