.cmtyx_color_1 { background-color: #999999 !important; }
.cmtyx_border_color_1 { border-color: #999999 !important; }
.cmtyx_text_color_1 { color: #999999 !important; }
.cmtyx_color_2 { background-color: #777777 !important; }
.cmtyx_border_color_2 { border-color: #777777 !important; }
.cmtyx_text_color_2 {color: #777777 !important; }
.cmtyx_color_3 { background-color: #555555 !important; }
.cmtyx_border_color_3 { border-color: #555555 !important; }
.cmtyx_text_color_3 { color: #555555 !important; }
.cmtyx_color_4 { background-color: #333333 !important; }
.cmtyx_border_color_4 { border-color: #333333 !important; }
.cmtyx_text_color_4 { color: #333333 !important; }
