<% if(changed === "add") { %>
  <div class="item-added cart-changed" name="item-added">
    Item added
  </div>
<% } else if(changed === "remove") { %>
  <div class="item-removed cart-changed" name="item-removed">
    Item removed
  </div>
<% } else if(changed === "quantity") { %>
  <div class="item-quantity cart-changed" name="item-quantity">
    Item quantity changed
  </div>
<% } %>

<div class="order-wrapper">
  <div id="order-list-region"></div>

  <!-- <div class="additional_prices">
    <div class="subtotal_price price_name">Subtotal</div>
    <div class="price cmtyx_text_color_1">$30.00</div>
  </div>
  <div class="additional_prices">
    <div class="subtotal_price price_name">Shipping</div>
    <div class="price cmtyx_text_color_1">$5.00</div>
  </div>
  <div class="additional_prices">
    <div class="subtotal_price price_name">Tax</div>
    <div class="price cmtyx_text_color_1">$2.00</div>
  </div>
  <div class="additional_prices">
    <div class="left_block">
      <div class="subtotal_price price_name">Tip</div>z
    </div>  
    <div class="right_block">
      <div class="quantity_container">
        <div class="block minus">-</div>
        <div class="block number tip_number">20%</div>
        <div class="block plus">+</div>
      </div>
      <div class="price cmtyx_text_color_1">$3.00</div>
    </div>
  </div> -->
  <div class="total_price">
    <div class="name">Subtotal</div>
    <div class="price cmtyx_text_color_1">$<%= subtotal %></div>
  </div>
</div>

<div class="bottom_btns_block">
  <button class="order_btn" name="order">PROCEED</button>
</div>
