<div class="circles_block">
  <div class="circle active"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>

<div class="navigation_block">
  <div class="nav_back_btn">
    <img src="themes/1/desktop/images/arrow-point-to-left.png" alt="">back
  </div>
  <div class="page_title">
    Pickup/Delivery<br>details
  </div>
  <div class="nav_next_btn">
    next<img src="themes/1/desktop/images/arrow-point-to-right.png" alt="">
  </div>
</div>

<div class="tabs">
  <button class="tablinks left active"><i class="fa fa-car" aria-hidden="true"></i>Delivery</button>
  <button class="tablinks right"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Pick up</button>
</div>

<div id="delivery" class="tabcontent" style="display: block;">
  <div class="title">
    Choose address:
  </div>

  <input type="radio" name="radio-choice-address" id="add_another" class="cardRadioChoice" checked="checked">
  <label for="add_another" class="">Add another address</label>
  
</div>

<div id="pick_up" class="tabcontent">
  <p class="order_address">Your order pickup location: Vibha Fashion
    <br>1764, Scott Blvd, Suite 204
    <br>Santa clara, CA - 95053
    <br>phone: 4083202102
  </p>
  <img src="themes/1/desktop/images/map.png" alt="map" class="map-img">
</div>

<div class="bottom_btns_block">
  <button type="" class="back_btn">Back</button>
  <button type="" class="next_btn">Next</button>
</div>