<div class="circles_block">
  <div class="circle"></div>
  <div class="circle active"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>

<div class="navigation_block">
  <div class="nav_back_btn">
    <img src="themes/1/desktop/images/arrow-point-to-left.png" alt="">back
  </div>
  <div class="page_title">
    order time 
  </div>
  <div class="nav_next_btn">
    next<img src="themes/1/desktop/images/arrow-point-to-right.png" alt="">
  </div>
</div>

<div class="tabs">
  <button data-activate="today" class="tablinks left">Today</button>
  <button data-activate="future" class="tablinks right">Future</button>
</div>

<div id="today" class="tabcontent regular">
  <div class="regular-order-delay">
    <h3>DisplayString</h3>
  </div> 
  <div class="regular-order-note">
    <h4>The order will be ready after 30 minutes</h4>
  </div> 
  <div class="regular-order-warning">
    <h4>This is a warning message</h4>
  </div>
</div>

<div id="future" class="tabcontent future">
  <div class="selects-container">
    <select name="select-date" id="select-date">
      <option value="Sun, Apr 2">Sun, Apr 2</option>
    </select>
    <select name="select-time" id="select-time">
      <option value="11am to 12pm">11am to 12pm</option>
      <option value="12pm to 1pm">12pm to 1pm</option>
      <option value="1pm to 2pm">1pm to 2pm</option>
      <option value="6pm to 7pm">6pm to 7pm</option>
      <option value="7pm to 8pm">7pm to 8pm</option>
      <option value="8pm to 9pm">8pm to 9pm</option>
      <option value="9pm to 10pm">9pm to 10pm</option>
    </select>
  </div>
  <h4>Please note: Your order will be ready on Sun, Apr 2</h4>
</div>

<div class="bottom_btns_block">
  <button type="" class="back_btn">Back</button>
  <button type="" class="next_btn">Next</button>
</div>