<div class="collapsibleSet build_combo_collapse" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="<%= color %>">
        <h3 class="firstItem"><%= groupDisplayText %><span class="right_block">
            <!--<span class="selected_item_name">Green Salad</span>
            <span class="tick_img"></span>-->
            </span></h3>
        <!--<ul data-role="listview" data-inset="false" class="items_list" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"></div>
        </ul>  -->  
        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="false">

        </div>
    </div>
</div>

<!--<div class="cmntyex-group cmntyex-catalog ui-listview" data-role="collapsible" data-inset="false" data-collapsed="false">
    <h3 style="background: <%= color %>;" class="cmntyex-group_title">
        <%= groupDisplayText %>
    </h3>
    <div class="cmntyex-list_placeholder"></div>
</div>-->