<div class="collapsibleSet build_combo_collapse" data-role="collapsibleset" data-inset="false">
    <div data-role="collapsible" class="color3">
        <h3 class="firstItem"><%= groupDisplayText %><span class="right_block">
            <!--<span class="selected_item_name">Green Salad</span>
            <span class="tick_img"></span>-->
            </span></h3>
        <ul data-role="listview" data-inset="false" class="items_list" style="background-color: #000;">
            <div class="cmntyex-list_placeholder"></div>
        </ul>     
    </div>
</div>