<table>
    <tr>
        <td class="user_avatar"></td>
        <td class="review_section">
            <div class="ui-grid-a name_date_block">
                <div class="ui-block-a user_name"><%= userName %></div>
                <div class="ui-block-b date"><%= timeStamp %></div>
            </div>
            <div class="rating_block">
                <div class="my-rating"></div>
                <div class="rating_number">
                    <span class="current_rating"></span><span>/5</span>
                </div>
            </div>
               <div class="text"><%= text_excerpt %></div>
        </td>
    </tr>
</table>
