header {
  height: 70px;
  background-color: $header-background;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container { 
  	display: inline-block; 
	
	.logo {
	  cursor: pointer;
	}
  }

  .links-conatiner { 
	  display: inline-block; 
	  list-style-type: none;

	  .link { 
		display: inline-block; 
		color: $white;
		font-size: $size-normal;
		font-weight: $style-normal;
		text-transform: uppercase;
		cursor: pointer;
		vertical-align: middle;

		.logged_in {

			.fa-user {
			    font-size: 40px;
    			color: #d1d1d1;
			}

			.fa-check {
			    position: relative;
			    right: 10px;
			    top: 5px;
			    background-color: #2ECC40;
			    border-radius: 50%;
			    padding: 2px;
			}
		}

		.logged_out {
			.fa-user {
			    font-size: 40px;
    			color: #d1d1d1;
			}

			.fa-check {
			    position: relative;
			    right: 10px;
			    top: 5px;
			    background-color: #2ECC40;
			    border-radius: 50%;
			    padding: 2px;
			}
		}

		.logged_out {
			.fa-user {
			    font-size: 40px;
    			color: #d1d1d1;
			}

			.fa-question {
			    position: relative;
			    right: 10px;
			    top: 5px;
			    background-color: #0074D9;
			    border-radius: 50%;
			    padding: 2px 5px;
			}
		}

		// &:hover {
		//   color: $cmtyx_color_1;
		// }

		&.last {
		  font-weight: $style-semi-bold;
		  color: $cmtyx_color_1;
		  border: 1px solid $cmtyx_color_1;
		  border-radius: 5px;
		  padding: 15px 25px;

		  &:hover {
		  	background-color: $cmtyx_color_1;
  			color: $white;
		  }	
		}
	  }
	}
}