header {
  height: 70px;
  background-color: $header-background;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container { 
  	display: inline-block; 
	
	.logo {
	  cursor: pointer;
	}
  }

  .links-conatiner { 
	  display: inline-block; 
	  list-style-type: none;

	  .link { 
		display: inline-block; 
		color: $white;
		font-size: $size-normal;
		font-weight: $style-normal;
		text-transform: uppercase;
		margin-left: 30px;
		cursor: pointer;

		&:hover {
		  color: $cmtyx_color_1;
		}

		&.last {
		  font-weight: $style-semi-bold;
		  color: $cmtyx_color_1;
		  border: 1px solid $cmtyx_color_1;
		  border-radius: 5px;
		  padding: 15px 25px;

		  &:hover {
		  	background-color: $cmtyx_color_1;
  			color: $white;
		  }	
		}
	  }
	}
}