.cmtyx_desktop_application {
  .home_tabs_list {
  /***** POLL *****/
    .cmtyx_poll_block {
      .body {
        & > img {
          width: 100%;
          margin-bottom: 10px;
        }

        .submit_poll_button {
            width: 60%;
            margin: 10px auto;
            font-weight: 700;
            border: 1px solid white;
            border-radius: 5px;
            padding: 15px 25px;
            display: flex;
            justify-content: center;
            color: white;
        }

        .poll_block_title {
            text-align: center;
            color: #ddd;
            font: 400 16px/24px 'Open Sans', sans-serif;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .prizes_title {
          font-weight: $style-normal;
          font-size: $size-normal-small;
          color: $question-text;
          text-transform: uppercase;
          text-align: center;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          justify-content: center;
        }

        .prize_cup_icon {
            display: inline-block;
            background: url('../images/prize_cup_icon.png') no-repeat;
            background-size: contain;
            height: 30px;
            width: 30px;
            position: static;
        }

        .poll_item {
          color: $white;
        }

        .medical-answered {
            display: none;
        }
        .poll_ans_form.answered.medical .medical-answered {
            display: block;
            color: #66a966;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            background-color: white;
            padding: 5px;
            margin-top: 20px;
        }

        .prize_container {
            max-height: 180px;
            background-color: #fff;
            width: 100%;
            display: flex;
            align-items: center;

            .prize_img_block {
              width: 50%;
              img {
                width: 100%;
              }
            }
            .prize_text_block {
              width: 50%;
              text-align: left;
              padding: 10px;

              .prize_text {
                  display: block;
                  font: 400 14px/19px 'Open Sans', sans-serif;
                  color: #e34a20;
                  margin-bottom: 10px;
              }
              .prize_condition {
                  display: block;
                  font: 300 12px/17px 'Open Sans', sans-serif;
                  color: #414141;
                  margin-bottom: 8px;
              }
              .prize_date {
                  display: block;
                  font: 500 11px 'Open Sans', sans-serif;
                  color: rgba(65, 65, 65, 0.7);
              }
            }
        }

        .contest_container {
            padding: 10px 0px 0 0px;

            img {
              padding: 0;
              width: 100%;
            }

            .poll_displaytext {
                display: block;
                font: 400 16px / 18px 'Open Sans', sans-serif;
                color: #ececec;
                margin: 10px 0 20px 0;
            }
        }

        .poll-answered {
            text-align: center;
            color: #ececec;
            font: 400 12px/19px 'Open Sans', sans-serif;
            margin: 15px;
            border: solid 1px #ececec;
            padding: 7px 10px;
        }

        .poll_ans_form {
          &.answered>li {
            pointer-events: none;
          }
          input:focus {
              outline: none;
          }

          input[type="radio"] {
              width: 20px;
              height: 20px;
          }

          .question_item {
              min-height: 24px;
              width: 90%;
              position: relative;
              list-style-type: none;
              float: right;
              margin-left: 10px;

              .question_text {
                z-index: 1;
                top: 0;
                padding-left: 3px;
                width: 80%;
                word-wrap: break-word;
                line-height: 24px;
                position: relative;
                margin: 0;
              }

              .bar {
                  position: absolute;
                  width: 100%;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  left:0;
                  margin: auto;

                  span {
                      position: absolute;
                      right: 0;
                      top: 0;
                      z-index: 9;
                      padding-right: 3px;
                      line-height: 24px;
                  }

                  .back {
                      position: relative;
                      width: 0;
                      height: 100%;
                      transition: 1.5s;
                  }
              }
          }

          li .ui-block-a {
              display: flex;
              align-items: center;
          }

          .question_thumbnail {
              width: 80px;
              margin-left: 5px;
              pointer-events: all;
              cursor: pointer;
          }

        }

        .ansRadioChoice + label {
            font: 400 14px 'Open Sans', sans-serif;
            width: 100%;
            padding: 0;
            margin: 0;

            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        
      }
    }
    /***** END OF POLL *****/
  }
}

