<div id="cmtyx_catalogView" data-role="page" class="page build_combo">
    <div class="sub_header">
        <div class="basket_icon_container">
            <a href="#left-panel edit_button">
                <span class="shopping_icon"></span>
            </a>
            <span class="cart_items_number"></span>
        </div>
        <div class="total_price_order_block">
            <span class="total_price cmtyx_text_color_1">0</span>
            <a class="header_order_btn order_btn order_button" id="roster_order_button">Order</a>
        </div>
    </div>
    <div data-role="content" class="content" role="main">
        <div class="menu_body">
            <!-- <div class="build_combo_title"> <span class="build_combo_back_btn navbutton_back back"></span> <span>Build your own combo</span> </div> -->
            <div class="cmntyex-items_placeholder"></div>
            <div class="ui-grid-a back_next_btns">
                <button class="ui-btn ui-corner-all add_to_cart_btn add_combo_button cmtyx_color_1 cmtyx_border_color_1">Add to cart</button>
            </div>
        </div>
    </div>
</div>
