<div id="cmtyx_catalogsView" data-role="page" class="page">
    <div data-role="content" class="content">
        <h3 style="margin-top:0;margin-bottom:20px;">Please choose your menu</h3>
        <div class="cmntyex-items_placeholder">
        </div>
    </div>
</div>
