<div id="cmntyex_chat" data-role="page" class="page">
    <div data-role="content" class="content">
        <div class="cmntyex-messages_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
    <div class="footer_panel">
       <div class="ui-grid-a">
            <div class="ui-block-a input_container">
                <input type="text" placeholder="Type a message here" data-role="none">
            </div>
            <div class="ui-block-b icons_container">
                <div class="smile_icon_button">
                	<span class="smile_icon"></span>
                </div>
                <div class="send_message_button">
                	<span class="send_message_icon"></span>
                </div>
            </div>
        </div>
    </div>
</div>
