<div id="cmntyex_reviews" data-role="page" class="page">
    <div class="navbutton_write_review">
        <button class="cmtyx_border_color_1 cmtyx_text_color_1">Add a review</button>
    </div>
    <div class="new_review_blinder">
        <div class="new_review_container">
            <div class="new_review_body">
                <div class="rating_block"></div>
                <div class="rating_error new_review_error">Set rating</div>
                <div class="input_container">
                    <textarea type="text" placeholder="Your review" data-role="none"></textarea>
                    <div class="message_error new_review_error">Type your message</div>
                </div>
                <div class="add_new_block">
                    <button class="ui-btn ui-corner-all back_btn add_new_photo_btn cmtyx_border_color_1 cmtyx_text_color_1">ADD A PHOTO</button>
                </div>
                <div class="upload_photo">
                    <div class="dropzone" data-width="320" data-height="568" style="width: 100%;">
                        <input type="file" data-role="none" name="thumb" />
                    </div>
                </div>
                <div class="ui-grid-a">
                     <div class="ui-block-a p-r-10">
                        <button class="back_btn cancel_review cmtyx_border_color_1 cmtyx_text_color_1">Cancel</button>
                     </div>
                     <div class="ui-block-b p-l-10">
                         <button class="next_btn submit_review cmtyx_border_color_1 cmtyx_color_1">Submit</button>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <div data-role="content" class="content">
        <div class="cmntyex-reviews_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
