<div id="cmntyex_reviews" data-role="page" class="page">
    <div data-role="content" class="content">
        <div class="cmntyex-reviews_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
	<div class="new_review_container">
		<div class="new_review_body">
			<div class="rating_block"></div>
            <div class="rating_error new_review_error">Set rating</div>
			<div class="input_container">
				<textarea type="text" placeholder="Your review" data-role="none"></textarea>
				<div class="message_error new_review_error">Type your message</div>
			</div>
			<div class="ui-grid-a">
				 <div class="ui-block-a p-r-10">
				 	<button class="back_btn cancel_review cmtyx_border_color_1 cmtyx_text_color_1">Cancel</button>
				 </div>
                 <div class="ui-block-b p-l-10">
					 <button class="next_btn submit_review cmtyx_border_color_1 cmtyx_color_1">Submit</button>
	             </div>
	         </div>
		</div>
		<div class="navbutton_write_review">
			<button class="cmtyx_border_color_1 cmtyx_text_color_1">Add a review</button>
		</div>
	</div>
</div>
