<div id="cmtyx_generatedView" data-role="page" class="page sitelette" class="NoLeftPadding">
    <div class="header">
        <a href="#left-panel" class="edit_button sub_edit"><span class="shopping_icon"></span></a> <span class="cart_items_number"><%=basket.getComboCount()%></span>
        <div class="total_price_order_block"><% if(basket.getComboCount() != 0) { %> <span class="total_price">Total $35.00</span> <% } %><a class="header_order_btn order_btn" id="roster_order_button">Order</a> </div>
    </div>
    <div role="main" style=" " data-role="content" class="content ui-content">

        <div class="cmntyex-items_placeholder menu_body">
        </div>
    </div>
</div>