.container {
  padding-left: 0;
  padding-right: 0;
}
.main_heading{
  color: black;
  text-align:center;
}

.heading_block {
  background: white;
  /* min-height: 900px; */
  margin-top: 0px;
  color: black;
  padding-bottom: 0px;
}

.saslList{
  padding-top:30px;
  padding-bottom:20px;
}

/* iphone 6,7,8 media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px)

/* and (orientation : landscape) */
  {
  .heading_block {
    background: white;
    margin-top: 0px;
    /*  text color */
    color: darkgray;
    padding-bottom: 0px;
  }
}

.secondary_block_heading {
  color: black;
  text-align: center;
  font-size:20px;
}

.secondary_block_text {
  color: black;
}
