.container {
  padding-left: 0;
  padding-right: 0;
}

.main_heading {
  color: black;
  text-align: center;
}

.heading_block {
  background: white;
  /* min-height: 900px; */
  margin-top: 0px;
  color: black;
  padding-bottom: 0px;
}

.saslList {
  padding-top: 30px;
  padding-bottom: 20px;
}

.saslList ul {
  list-style-type: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0px;
  padding: 0px;
}

.saslList li {
  list-style-type: none;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
  padding-bottom: 20;
}

.saslList li a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  padding: 10px 10px 10px 10px;
}

li.promoli{
  padding-top:10px;
  padding-bottom:10px;
}
img.promoimage {
  display: block;
  max-width: 100%;
  height: auto;
}

/* iphone 6,7,8 media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px)

/* and (orientation : landscape) */
  {
  .heading_block {
    background: white;
    margin-top: 0px;
    /*  text color */
    color: darkgray;
    padding-bottom: 0px;
  }
}

.secondary_block_heading {
  color: black;
  text-align: center;
  font-size: 20px;
}

.secondary_block_text {
  color: black;
}
