@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix700normal.woff2) format("woff2"), url(../fonts/Josefix700normal.woff) format("woff"), url(../fonts/Josefix700normal.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix600normal.woff2) format("woff2"), url(../fonts/Josefix600normal.woff) format("woff"), url(../fonts/Josefix600normal.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix600italic.woff2) format("woff2"), url(../fonts/Josefix600italic.woff) format("woff"), url(../fonts/Josefix600italic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix700italic.woff2) format("woff2"), url(../fonts/Josefix700italic.woff) format("woff"), url(../fonts/Josefix700italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Josefix400italic.woff2) format("woff2"), url(../fonts/Josefix400italic.woff) format("woff"), url(../fonts/Josefix400italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix300normal.woff2) format("woff2"), url(../fonts/Josefix300normal.woff) format("woff"), url(../fonts/Josefix300normal.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix300italic.woff2) format("woff2"), url(../fonts/Josefix300italic.woff) format("woff"), url(../fonts/Josefix300italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather300normal.woff2) format("woff2"), url(../fonts/Merriweather300normal.woff) format("woff"), url(../fonts/Merriweather300normal.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather300italic.woff2) format("woff2"), url(../fonts/Merriweather300italic.woff) format("woff"), url(../fonts/Merriweather300italic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather700normal.woff2) format("woff2"), url(../fonts/Merriweather700normal.woff) format("woff"), url(../fonts/Merriweather700normal.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Merriweather;
  src: url(../fonts/Merriweather700italic.woff2) format("woff2"), url(../fonts/Merriweather700italic.woff) format("woff"), url(../fonts/Merriweather700italic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix400normal.woff2) format("woff2"), url(../fonts/Josefix400normal.woff) format("woff"), url(../fonts/Josefix400normal.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Josefix;
  src: url(../fonts/Josefix400italic.woff2) format("woff2"), url(../fonts/Josefix400italic.woff) format("woff"), url(../fonts/Josefix400italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-rendering: swap .5s;
  font-display: swap
}

@font-face {
  font-family: Allura;
  src: url(../fonts/Allura400normal.woff2) format("woff2"), url(../fonts/Allura400normal.woff) format("woff"), url(../fonts/Allura400normal.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-rendering: swap .5s;
  font-display: swap
}

body, p {
  font-family: 'Merriweather', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2em;
  color: rgb(136, 136, 136);
  /*letter-spacing: 1px;*/
}
nav.navbar-no-border{
  border:none;
}
.heading_block {
  background: url(../images/landing/conversation.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  min-height:700px;
  margin-top:0px;
  /*  text color */
  color:white;
}

.feature_icon img {
  max-height:80px;
}

.text {
  font-family: 'Merriweather', 'Georgia', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  color: rgb(136, 136, 136);
}

.row sub_heading_block{
  font-family: 'Merriweather', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2em;
  color: rgb(136, 136, 136);
}

.title {
  margin-top:200px;
}

.feature_title{
  font-family: 'Josefix', 'Arial', serif;
  font-weight: 500;
  font-style:normal;
  font-size: 30px;
  line-height: 1.2em;
  color: gray;
}

.main_heading_styled{
  font-family: 'Allura', 'Times-Roman', serif;
  font-weight: 500;
  font-style:normal;
  font-size: 76px;
  line-height: 1.2em;
  color: #c59d5f;
}

.main_heading{
  font-family: 'Josefix', 'Arial', serif;
  font-weight: 500;
  font-style:normal;
  font-size: 50px;
  line-height: 1.2em;
  color: #FFFFFF;
}
