.discounts-block-wrapper {
	padding: 0;
	background-image: url("../images/bg/tiles_background.jpg");
	background-size: cover;
}

.discounts-block {
	padding: 0 20px;
	height: 470px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* TABS */
.discounts-block .nav-tabs {
	border: none;
	background-color: #dedede;
    position: absolute;
    left: 20px;
    height: 60px;
    width: 45%;
    z-index: 1;
}

.nav-tabs > li > a {
	padding: 0 5px;
	height: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.discounts-block .nav-tabs > li.active > a,
.discounts-block .nav-tabs > li.active > a:focus,
.discounts-block .nav-tabs > li.active > a:hover {
	background-color: #b8b8b8;
}

.discounts-block .nav li {
	width: 33.3%;
}

.discounts-block .nav li:last-child {
	width: 33.4%;
}

.discounts-block .tab-content {
	background-color: transparent;
	margin: 0;
	border: none;
	padding-top: 80px;
}

/* DISCOUNT TILES */
.tile-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.tile {
	max-width: 320px;
}

.tile .header {
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	position: relative;
}

.tile .header .business-banner {
	width: 100%;
	height: 55px;
}

.tile .header .promo-type {
	position: absolute;
	left: 5px;
	top: 7px;
	width: 40px;
}

.tile .body {
	position: relative;
	background-color: #dadada;
}

.tile .body .img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 240px;
}

.tile .body .img-container img {
	max-width: 100%;
}

.tile .body .info-wrapper {
	padding: 5px;
	color: white;
	background-color: rgba(49, 49, 49, 0.9);
	text-align: left;
}

.tile .body .info-wrapper .title {
	font-size: 18px;
    margin-bottom: 3px;
    height: 25px;
    text-overflow: ellipsis;
	overflow: hidden;
}

.tile .body .info-wrapper .description {
	height: 55px;
	font-size: 14px;
	line-height: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* BUSINESSES LIST */
.businesses-table.table-bordered {
	border-color: #616161;
	background-color: #777;
	color: #ddd;
}

.businesses-table.table-bordered > thead {
	font-size: 18px;
}

.businesses-table.table-bordered > thead > tr > th,
.businesses-table.table-bordered > tbody > tr > td,
.businesses-table.table-bordered > tbody > tr > td a,
.businesses-table.table-bordered > tbody > tr > td a:hover {
	border-width: 1px;
	border-color: #616161;
	color: #ddd;
}

.businesses-table.table-bordered > tbody > tr:hover {
	background-color: #717171;
}

.businesses-table.table-bordered > tbody > tr > td {
	padding: 0;
    line-height: 35px;
    padding-left: 10px;
}

.businesses-table.table-bordered > tbody > tr > td a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.businesses-table.table-bordered > tbody > tr > td.marker-container {
	text-align: center;
}

.businesses-table.table-bordered .glyphicon-map-marker {
	color: #FB7468;
	font-size: 20px;
	position: relative;
	top: 5px;
}

/* BUSINESSES MAP */
.map-container {
	height: 360px;
    width: 100%;
}

.map-container .labels {
    color: white;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    background-color: #515151;
    padding: 2px 4px;
    border-radius: 8px;
}

@media all and (max-width:1200px) {
    .discounts-block .nav-tabs {
	    width: 51%;
	}
}

@media all and (max-width:991px) {
    .discounts-block .nav-tabs {
	    width: 100%;
	}
}

@media all and (max-width:768px) {
	.discounts-block .nav-tabs {
	    width: 100%;
	    left: 0;
	}
}
