<div class="header cmtyx_color_1">
    <span class="title">Discounts</span>
    <span class="collapse_btn">&#9650;</span>
</div>
<div class="body">
    <ul class="discounts_gallery">
        
    </ul>
</div>