<div class="header cmtyx_color_4">
    <span class="title">Photo contest</span>
    <span class="collapse_btn">&#9650;</span>
</div>
<div class="body">
    <img src="themes/1/placeholder_images/special.png"></img>
    <span class="contest_task">Send us a picture of your dog, running!</span>
    <!-- <button class="ui-btn ui-corner-all back_btn send_photo_btn cmtyx_border_color_1 cmtyx_text_color_1">SEND A PHOTO</button> -->

    <div class="photo_contest_upload_image">
        <textarea autocapitalize="off" placeholder="Message" class="comntyex-upload_message_input ui-input-text ui-shadow-inset ui-body-inherit ui-textinput-autogrow" id="message" name="message" data-corners="false" style="height: 60px;"></textarea>
        <div class="dropzone" data-ghost="false" data-canvas="true" data-originalsize="false" data-width="320" data-height="568" data-resize="false" data-save=false style="width: 100%;">
            <input type="file" name="thumb" />
        </div>
    </div>

    <div class="prizes_title">All submissions are entered into our mini-sweepstake!</div>
    <ul>
        <li>
            <div class="prize_block">
                <div class="ui-grid-a prize_container">
                    <div class="ui-block-a">
                        <div class="prize_text_block">
                            <span class="prize_text">prize</span>
                            <span class="prize_condition">every second burger</span>
                            <span class="prize_date">till 30.07</span>
                        </div>
                    </div>
                    <div class="ui-block-b ">
                        <img src="themes/1/placeholder_images/burger.png"></img>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="prize_block">
                <div class="ui-grid-a prize_container">
                    <div class="ui-block-a">
                        <div class="prize_text_block">
                            <span class="prize_text">prize</span>
                            <span class="prize_condition">every second coffee</span>
                            <span class="prize_date">till 30.07</span>
                        </div>
                    </div>
                    <div class="ui-block-b ">
                        <img src="themes/1/placeholder_images/burger.png"></img>
                    </div>
                </div>
            </div>
        </li>
        <li class="last">
            <div class="prize_block">
                <div class="ui-grid-a prize_container">
                    <div class="ui-block-a">
                        <div class="prize_text_block">
                            <span class="prize_text">prize</span>
                            <span class="prize_condition">every second salad</span>
                            <span class="prize_date">till 30.07</span>
                        </div>
                    </div>
                    <div class="ui-block-b ">
                        <img src="themes/1/placeholder_images/burger.png"></img>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>