<div class="header cmtyx_color_6">
    <div class="title">menu <span class="collapse_btn"></span></div>
</div>
<div id="catalogs-region" class="body"></div>
<div id="blinder-region" class="body"></div>