<div class="header cmtyx_color_1">
    <div class="title">
    
    <span class="collapse_btn"></span></div>
</div>
<div id="catalogs-region" class="body"></div>
<div id="blinder-region" class="body"></div>