<div class="left_block">
  <div class="item_title">
    <%= itemName %>
  </div>
  <div class="item_description">
    <%= longDescription %>
  </div>
  <button class="customize_btn">customize</button>
</div>
<div class="right_block">
  <div class="item_price">$<%= price %></div>
  <div class="quantity_container">
    <div class="block minus">-</div>
    <div class="block number">1</div>
    <div class="block plus">+</div>
  </div>
  <button class="add_to_cart_btn">add to cart</button>
</div>