<div class="dropdown user-dropdown">
	<button class="user-dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown">
		<!-- you can change cmtyx_text_color_? here -->
		<span class="user_email cmtyx_text_color_1"></span>
		<i class="fa fa-user" aria-hidden="true"></i>
		<i class="fa fa-check" aria-hidden="true"></i>
		<span class="caret cmtyx_text_color_1"></span>
	</button>
	<ul class="dropdown-menu cmtyx_special_background_color">
	  	<% if (!secure) { %>
			<li class="order-history">
				<a href="#" class="cmtyx_text_color_1">Order history</a>
			</li>
	  	<% } %>
		<li class="login-wrapper">
			<a href="#" class="cmtyx_text_color_1">Logout</a>
		</li>
	</ul>
</div>