<!-- <span class="user_email cmtyx_text_color_1"></span>
<i class="fa fa-user" aria-hidden="true"></i>
<i class="fa fa-check" aria-hidden="true"></i>
<div id="login-btn" class="link login-btn">logout</div> -->
<div class="dropdown user-dropdown">
	<button class="user-dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown">
		<span class="user_email cmtyx_text_color_1"></span>
		<i class="fa fa-user" aria-hidden="true"></i>
		<i class="fa fa-check" aria-hidden="true"></i>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu cmtyx_special_background_color">
	  <li class="order-history">
	  	<a href="#">Order history</a>
	  </li>
	  <li class="login-wrapper">
	  	<a href="#">Logout</a>
	  </li>
	</ul>
</div>