<a class="forgot_btn" name="forgot_btn">Forgot password?</a>
<div class="material-textfield">
  <input type="text" name="username" value="" required="" />
  <label data-content="Username / Email"></label>
</div>

<div class="material-textfield">
  <input type="password" name="password" value="" required="" />
  <label data-content="Password"></label>
</div>

<label class="show_password">
  <input id="show_password" type="checkbox" name="show_password">Show password
</label>

<button class="signin_btn" name="signin_btn">sign in</button>
<div class="new-title">New to chalkboards?</div>
<button class="signup_btn" name="signup_btn">create account</button>