<div class="material-textfield">
  <input type="email" name="email" value="" required="" />
  <label data-content="Email"></label>
</div>

<div class="material-textfield">
  <input type="password" name="password" value="" required="" />
  <label data-content="Password"></label>
</div>

<div class="material-textfield">
  <input type="password" name="password_confirmation" value="" required="" />
  <label data-content="Confirm password"></label>
</div>

<button class="submit_signup_btn">Create account</button>