<section id="catalog-tabs">
  <!-- render group tabs here -->
</section>
<div class="tabcontent">
  <div class="header">
    <div class="back_to_catalog_btn">
      <img src="themes/1/desktop/images/back-arr.png" alt="back arrow">
      <span>Back to catalog</span>
    </div>
  </div>
  <div class="catalog-container" id="catalog-group">
    <!-- render group items here -->
  </div>
</div>