# rewrite /folder as ?friendlyURL=folder
<ifmodule mod_rewrite.c>
 RewriteEngine on
 RewriteBase /

 #path for assets
 RewriteRule ^static/(.*)$ /youdash/static/$1 [R=301,NC,L]

 #serving service worker from folder
 RewriteRule ^service-worker.js /youdash/service-worker.js [L,QSA]
 #serving manifest files from folder
 RewriteRule ^precache-manifest(.*).js /youdash/$1 [L,QSA]
 RewriteRule ^favicon.ico /youdash/favicon.ico [L,QSA]
 RewriteRule ^logo192.png /youdash/logo192.png [L,QSA]
 RewriteRule ^logo512.png /youdash/logo512.png [L,QSA]
# RewriteRule ^manifest.json$ /manifest.php [R=301,NC,L]


 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^([^/]*)/?$ index.php?friendlyURL=$1 [L,QSA]
 RewriteRule ^(.*)$ /index.php?friendlyURL=$1 [L,QSA]
#  RewriteRule ([^/]*).(css|js|png|jpe?g)$ /youdash/static/$1.$2 [L]
</ifmodule>



# turn on gzip compression 
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
