.cmtyx_desktop_application {
  .home_tabs_list {
  /***** PHOTO contest *****/
    #cmtyx_photo_contest_block {
      .body {
        & > img {
          width: 100%;
          margin-bottom: 10px;
        }

        .photo_block_title {
            text-align: center;
            color: #ddd;
            font: 400 16px/24px 'Open Sans', sans-serif;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        .prizes_title {
          font-weight: $style-normal;
          font-size: $size-normal-small;
          color: $question-text;
          text-transform: uppercase;
          text-align: center;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }

        .prize_cup_icon {
            display: inline-block;
            background: url('../images/prize_cup_icon.png') no-repeat;
            background-size: contain;
            height: 30px;
            width: 30px;
            position: relative;
            left: 10px;
            top: 5px;
            float: right;
            position: relative;
            right: 10px;
            bottom: 2px;
        }

        .photo_item {
          color: $white;
        }

        .medical-answered {
            display: none;
        }

        .prize_container {
            max-height: 180px;
            background-color: #fff;
            width: 100%;
            display: flex;
            align-items: center;

            .prize_img_block {
              width: 50%;
              img {
                width: 100%;
                max-height: 100px;
              }
            }
            .prize_text_block {
              width: 50%;
              text-align: left;
              padding: 10px;

              .prize_text {
                  display: block;
                  font: 400 14px/19px 'Open Sans', sans-serif;
                  color: #e34a20;
                  margin-bottom: 10px;
              }
              .prize_condition {
                  display: block;
                  font: 300 12px/17px 'Open Sans', sans-serif;
                  color: #414141;
                  margin-bottom: 8px;
              }
              .prize_date {
                  display: block;
                  font: 500 11px 'Open Sans', sans-serif;
                  color: rgba(65, 65, 65, 0.7);
              }
            }
        }

        .contest_container {
            padding: 0px 20px 0 20px;

            img {
              padding: 0;
              width: 100%;
            }

            .send_photo_btn {
                font: 400 16px 'Open Sans', sans-serif;
                background-color: transparent;
                text-shadow: none;
                border-width: 1px;
                border-style: solid;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                outline: none;
                width: 100%;
                margin: 10px 0 0 0;
                padding-bottom: 10px;
                padding-top: 10px;

                &:focus {
                  box-shadow: none;
              }
            }

            .photo_contest_upload_image {
                max-height: 568px;
                margin-bottom: 10px;
                margin-top: 10px;
                display: none;

                textarea {
                  height: 60px;
                  font: 300 16px 'Open Sans', sans-serif;
                  color: #bbbbbb;
                  width: 100%;
                  background-color: transparent;
                  resize: none;
                  padding: 4px 1.6px;
                  border: 0.1rem solid #757373;
                }


                img {
                  max-height: none;
                }
                .dropzone {
                    border-radius: 4px;
                    min-height: 100px!important;
                    border-color: #757373;
                    background-color: transparent;
                    &:before {
                        font-size: 60px;
                        top: 7px;
                    }
                    &:after {
                        bottom: 10%;
                        font-size: 20px;
                        padding: 5%;
                    }
                    &.added {
                        height: 495px!important;
                    }
                    &.loading:after {
                        visibility: hidden;
                    }
                    .btn {
                        background-color: #464646;
                        border-color: #464646;
                    }

                }
            }
        } 

        .photo-answered,
        .poll-answered {
            text-align: center;
            color: #ececec;
            font: 400 12px/19px 'Open Sans', sans-serif;
            margin: 15px;
            border: solid 1px #ececec;
            padding: 7px 20px;
        }
        .photo-answered {
            // margin-bottom: 25px;
        }
      }
    }
  }

  .photo_contest_block .body .prize_block {
      width: 100%;
      min-height: 112px;
  }
  .photo_contest_block .body .prize_container {
    background-color: #fff;
    max-height: 180px;
  }
}