.cmtyx_share_block {
  .share-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    .sms_input_block {
      text-align: center;
      width: 25%;
      display: none;

      .sms_input {
        background-color: transparent;
        border: solid 1px $cart-scroll;
        padding: 5px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        color: $cart-text;
        margin-top: 20px;
      }

      .sms_send_button {
        height: 31px;
        border: solid 1px;
        position: relative;
        right: 5px;
        bottom: 1px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        color: $white;
      }
    }

    .icons-container-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      
      .icons-container {
        display: flex;
        justify-content: space-between;
        width: 25%;
        align-items: center;
        padding: 20px 0;

        .text {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #616161;
          font-size: 20px;

          i {
            padding: 20px;
          }
        }
      }
    }
  }
}